<section class="pt-4 pt-lg-5">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center mb-4">
                <h1 class="fs-2 mb-5">Politicas de Arcadia Viajes</h1>
                <p>
                    En Arcadia Viajes, nos comprometemos a brindarte la mejor experiencia en cada aventura. Para
                    garantizar un servicio seguro, transparente y de calidad, hemos establecido nuestras políticas,
                    donde encontrarás toda la información sobre reservas, cancelaciones, cambios y más. ¡Tu viaje
                    comienza aquí con confianza y tranquilidad!</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-10 mx-auto">
                <div class="vstack gap-3">
                    <service-hero />
                </div>
            </div>
        </div>
    </div>
</section>