<div class="row g-4 mb-5">
  <div class="col-md-4 col-xxl-3" style="color: #200444; max-width: auto;">
    <div class="card bg-secondary h-100">
      <div class="card-body text-center bg-secondary text-white rounded-3">
        <div class="avatar avatar-xl flex-shrink-0 mb-3" style="height: 13rem; width: 13rem;">
          <img class="avatar-img rounded-circle" [src]="agent?.imgUrl" alt="avatar" />
        </div>

        <h3 class="mb-2 text-white">{{ agent?.name }} {{ agent?.lastName }}</h3>
        <h5 class="mb-2 text-white">{{ agent?.session?.rol?.name }}</h5><br>
        <h6 class="mb-2 text-white">Sede: {{ agent?.sede?.name }}</h6>
        <!-- <ul class="list-inline small mb-0">
          <li class="list-inline-item me-1">
            <i class="fa-solid fa-star text-warning"></i>
          </li>
          <li class="list-inline-item me-1">
            <i class="fa-solid fa-star text-warning"></i>
          </li>
          <li class="list-inline-item me-1">
            <i class="fa-solid fa-star text-warning"></i>
          </li>
          <li class="list-inline-item me-1">
            <i class="fa-solid fa-star text-warning"></i>
          </li>
          <li class="list-inline-item me-1">
            <i class="fa-solid fa-star text-danger"></i>
          </li>
        </ul> -->
        <!-- <p class="mb-0">Rol: {{ agent?.session?.rol?.name }}</p> -->
        <!-- <p class="mb-0">Correo: {{ agent?.session?.email }}</p>
        <p class="mb-0">Teléfono: {{ agent?.primaryPhone }}</p>
        <p class="mb-0">Sede: {{ agent?.sede?.name }}</p> -->
      </div>
    </div>
  </div>

  <div class="col-md-6 col-xxl-6" style="max-width: auto;">
    <div class="card shadow">
      <div class="card-header border-bottom">
        <h5 class="mb-0">Información Personal</h5>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-12">
            <ul class="list-group list-group-borderless">
              <li class="list-group-item mb-3">
                <span>Nombre Completo:</span>
                <span class="h6 fw-normal ms-2 mb-0">{{ agent?.name }} {{ agent?.lastName }}</span>
              </li>

              <li class="list-group-item mb-3">
                <span>Número de Teléfono:</span>
                <span class="h6 fw-normal ms-2 mb-0">{{ agent?.primaryPhone }}</span>
              </li>

              <li class="list-group-item mb-3">
                <span>Correo Electrónico:</span>
                <span class="h6 fw-normal ms-2 mb-0">{{ agent?.session?.email }}</span>
              </li>

              <li class="list-group-item mb-3">
                <span>Rol:</span>
                <span class="h6 fw-normal ms-2 mb-0">{{ agent?.session?.rol?.name }}</span>
              </li>
            </ul>
          </div>
          <div class="col-12">
            <ul class="list-group list-group-borderless">
              <li class="list-group-item">
                <span>Descripción: </span>
                <p class="h6 fw-normal mb-0">
                  Aquí puedes agregar una descripción del agente si está disponible.
                </p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-xxl-3">
    <div class="col-md-4 col-lg-12 mb-1 p-1" style="color: #200444; max-width: auto;">
      <div class="card bg-light h-100">
        <div class="card-body text-center text-white rounded-3">
          <h1><i class="bi bi-check-circle-fill" style="color: #0d92f1; max-width: auto;"></i></h1>
          <h1 class="mb-2 text-dark">ASESOR</h1>
          <h4 class="mb-2 text-dark">VERIFICADO</h4>
        </div>
      </div>
    </div><br>
    <div class="col-md-4 col-lg-12 " style="color: #200444; max-width: auto;">
      <div class="card bg-light h-100">
        <div class="card-body text-center bg-secondary text-white rounded-3">
          <h3 class="mb-2 text-white">Nivel</h3>
          <h4 class="mb-2 text-white">Asesor Novato</h4>
        </div>
      </div>
    </div>
  </div>
</div>