<div class="card border bg-transparent">
  <div class="card-header bg-transparent border-bottom">
    <h4 class="card-header-title">Mis vuelos</h4>
  </div>

  <div class="card-body p-0">
    <ul ngbNav #nav="ngbNav" class="nav nav-tabs nav-bottom-line nav-responsive nav-justified">
      <li class="nav-item" ngbNavItem>
        <a class="nav-link mb-0" ngbNavLink data-bs-toggle="tab" href="#tab-1"><i
            class="bi bi-briefcase-fill fa-fw me-1"></i>Vuelos</a>
        <ng-template ngbNavContent>
          <div class="tab-pane fade show active" id="tab-1">
            <div *ngIf="isLoading" class="text-center">
              <div class="spinner-border text-primary" role="status">
                <span class="visually-hidden">Loading...</span>
              </div>
            </div>

            <div *ngIf="!isLoading && upcomingBookingData.length === 0" class="text-center">
              <p>No hay vuelos encontrados</p>
            </div>
            <div *ngFor="let item of upcomingBookingData;" class="card border mb-4">
              <div class="card-header border-bottom d-md-flex justify-content-md-between align-items-center">
                <div class="d-flex align-items-center">
                  <div class="icon-lg bg-light rounded-circle flex-shrink-0">
                    <i class="fa-solid fa-ticket"></i>
                  </div>

                  <div class="ms-2">
                    <h6 class="card-title mb-0">
                      {{ item.location?.[0].tickets?.[0].customer.name }}
                      {{ item.location?.[0].tickets?.[0].customer.last_name }}
                    </h6>
                    <ul class="nav nav-divider small">
                      <li class="nav-item">
                        CI/DNI: {{ item.location?.[0].tickets?.[0].customer.identityCard }}
                      </li>
                      <li class="nav-item">
                        N° de boletos: {{ item.location?.[0].tickets.length }}
                      </li>
                      <li class="nav-item">
                        Orden: #{{item.id}}
                      </li>
                    </ul>
                  </div>
                </div>
              </div>

              <!-- Tickets a mapear -->
              <div class="card-body">
                <div class="row g-3">
                  <div class="d-inline-block w-100" style="position: relative;">
                    <button class="btn btn-primary w-100" (click)="openModal(content, item)">
                      Ver Tickets
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card-footer pt-0" *ngIf="!isLoading && upcomingBookingData.length > 0">
            <div class="d-sm-flex justify-content-sm-between align-items-sm-center">
              <p class="mb-sm-0 text-center text-sm-start">
                Mostrar 1 a {{ upcomingBookingData.length }} de
                {{ upcomingBookingData.length }} Total
              </p>

              <nav class="mb-sm-0 d-flex justify-content-center" aria-label="navigation">
                <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="limit"
                  (pageChange)="onPageChange($event)"
                  class="pagination pagination-primary-soft d-inline-block d-md-flex rounded mb-0">
                  <ng-template ngbPaginationPrevious>Atras </ng-template>
                  <ng-template ngbPaginationNext>Siguiente </ng-template>
                </ngb-pagination>
              </nav>
            </div>
          </div>
        </ng-template>
      </li>
      <!-- Other tabs... -->
    </ul>

    <div class="tab-content p-2 p-sm-4" [ngbNavOutlet]="nav" id="nav-tabContent"></div>
  </div>
</div>

<!-- Modal content -->
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Tickets</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <ul ngbNav #modalNav="ngbNav" class="nav nav-tabs">
      <li class="nav-item" *ngFor="let data of reverveSelect.location; let i = index" ngbNavItem>
        <a class="nav-link" ngbNavLink>{{ 'Localizador: ' + data.name }}</a>
        <ng-template ngbNavContent>
          <div class="container-fluid">
            <div class="row">
              <div *ngFor="let item of data.tickets;" class="card p-4 mb-3 col-4 m-1"
                style="max-width: 360px; background-color: #f2f4ff; border-radius: 15px;">
                <div class="card-header text-center text-white bg-primary rounded-3">

                  <h5 class="mb-0 text-white" *ngIf="!item.airline.imgUrl ">{{ item.airline.nameAirline}}</h5>
                  <img [src]="item.airline.imgUrl ? 'assets/images/'+ item.airline.imgUrl : ''" class="w-20px me-2"
                    alt="" />
                </div>

                <div class="row g-3 mt-3">
                  <!-- From Section -->
                  <div class="col-6">
                    <p class="fw-bold text-uppercase mb-1">From:</p>
                    <h4 class="mb-0">{{ item.origin.codeIcaoAirport }}</h4>
                    <p class="mb-0">{{ item.origin.codeIataCity }}</p>
                    <small class="">{{ item.flightDate | date: 'MMM d, y - h:mm a' }}</small>
                  </div>

                  <!-- To Section -->
                  <div class="col-6 text-end">
                    <p class="fw-bold text-uppercase mb-1">To:</p>
                    <h4 class="mb-0">{{ item.destination.codeIcaoAirport }}</h4>
                    <p class="mb-0 ">{{ item.destination.codeIataCity }}</p>
                    <small class="">{{ item.flightDateReturn | date: 'MMM d, y - h:mm a' }}</small>
                  </div>
                </div>

                <!-- Divider -->
                <hr class="my-3" />

                <!-- Passenger Information -->
                <div class="row g-3">
                  <div class="col">
                    <p class="fw-bold text-uppercase mb-1">Passenger:</p>
                    <p class="mb-0">{{ item.customer.name + ' ' + data.tickets[0].customer.last_name }}</p>
                  </div>
                  <div class="col text-end">
                    <p class="fw-bold text-uppercase mb-1">Class:</p>
                    <p class="mb-0">{{ item.details_ticket.type_flight_class }}</p>
                  </div>
                </div>

                <hr class="my-3" />

                <!-- Flight Info -->
                <div class="row text-center">
                  <div class="col">
                    <p class="fw-bold text-uppercase mb-1">Date</p>
                    <p class="mb-0">Jan 25</p>
                  </div>
                  <div class="col">
                    <p class="fw-bold text-uppercase mb-1">Boarding</p>
                    <p class="mb-0">05:20 PM</p>
                  </div>
                  <div class="col">
                    <p class="fw-bold text-uppercase mb-1">Depart</p>
                    <p class="mb-0">05:50 PM</p>
                  </div>
                </div>

                <!-- QR/Barcode Section -->
                <div class="text-center mt-4">
                  <!-- <qrcode [qrdata]="stream + data.ticketFiles[0].fileUrl" [width]="126" [errorCorrectionLevel]="'M'"></qrcode> -->
                </div>
                <button class="btn btn-light btn-sm float-end" *ngIf="data.ticketFiles[0]" (click)="downloadPdf(data.ticketFiles[0], pdfModal)">
                  <i class="fas fa-file-pdf"></i> Descargar PDF
                </button>
              </div>
            </div>
          </div>
        </ng-template>
      </li>
    </ul>

    <div class="tab-content">
      <div [ngbNavOutlet]="modalNav"></div>
    </div>
  </div>
</ng-template>
<ng-template #pdfModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title">PDF Viewer</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <iframe *ngIf="pdfSrc" [src]="pdfSrc" width="100%" height="600px"></iframe>
  </div>
</ng-template>
