<div class="card shadow mt-5">
  <div class="card-header border-bottom">
    <h5 class="card-title mb-0">Mis Financiamientos</h5>
  </div>
  <div class="card-body p-0">
    <ul
      (navChange)="changeTab($event)"
      [destroyOnHide]="false"
      ngbNav
      #nav="ngbNav"
      class="nav nav-tabs nav-bottom-line nav-responsive nav-justified"

    >
      <li class="nav-item" ngbNavItem domId="1">
        <a class="nav-link mb-0" ngbNavLink data-bs-toggle="tab" href="#tab-1"
          ><i class="bi bi-briefcase-fill fa-fw me-1"></i>Ordenes</a
        >
        <ng-template ngbNavContent>
          <div class="card-body tab-pane fade show active p-4" id="tab-1">
            <div *ngIf="isLoading" class="text-center">
              <div class="spinner-border text-primary" role="status">
                <span class="visually-hidden">Loading...</span>
              </div>
            </div>

            <div
              *ngIf="!isLoading && paymentHistory.length === 0"
              class="text-center"
            >
              <p>No hay órdenes encontradas</p>
            </div>

            <div class="bg-light rounded p-3 d-none d-sm-block" *ngIf="!isLoading && paymentHistory.length > 0">
              <div class="row row-cols-7 g-4">
                <div class="col">
                  <h6 class="mb-0">Orden ID</h6>
                </div>
                <div class="col">
                  <h6 class="mb-0">Fecha de creación</h6>
                </div>
                <div class="col">
                  <h6 class="mb-0">Cuotas</h6>
                </div>
                <div class="col">
                  <h6 class="mb-0">Monto</h6>
                </div>
                <div class="col">
                  <h6 class="mb-0">Estado</h6>
                </div>
                <div class="col">
                  <h6 class="mb-0">Asesor</h6>
                </div>
                <div class="col">
                  <h6 class="mb-0">+info</h6>
                </div>
              </div>
            </div>

            <div *ngFor="let item of paymentHistory" class="row row-cols-xl-7 g-4 align-items-sm-center border-bottom px-2 py-4">
              <div class="col">
                <small class="d-block d-sm-none">Orden ID:</small>
                <h6 class="fw-light mb-0">#{{ item.id }}</h6>
              </div>

              <div class="col">
                <small class="d-block d-sm-none">Fecha de creación:</small>
                <h6 class="mb-0 fw-normal">{{ item.createdAt | date: 'dd/MM/yyyy' }}</h6>
              </div>

              <div class="col">
                <small class="d-block d-sm-none">Cuotas:</small>
                <h6 class="mb-0">{{ item.quotas.length }}</h6>
              </div>

              <div class="col position-relative">
                <small class="d-block d-sm-none">Monto:</small>
                <h6 class="mb-0">{{ item.amount | currency }}</h6>
              </div>

              <div class="col">
                <small class="d-block d-sm-none">Estado:</small>
                <div class="badge bg-success bg-opacity-10 text-success" [ngClass]="{
                      'bg-orange text-orange': item.status === 'POR_CONFIRMAR',
                      'bg-danger text-danger': item.status === 'CANCELADO'
                    }">
                  {{ item.status | titlecase | replaceUnderscore }}
                </div>
              </div>

              <div class="col">
                <small class="d-block d-sm-none">Asesor:</small>
                <h6 class="mb-0">{{ item.user.name + ' ' + item.user.lastName }}</h6>
              </div>

              <div class="col">
                <a href="javascript:void(0);" class="btn btn-light btn-round mb-0"><i class="bi bi-eye-fill"></i></a>
              </div>
            </div>
          </div>

          <div class="card-footer pt-0" *ngIf="!isLoading && paymentHistory.length > 0">
            <div class="d-sm-flex justify-content-sm-between align-items-sm-center">
              <p class="mb-sm-0 text-center text-sm-start">
                Mostrar 1 a {{ paymentHistory.length }} de {{ paymentHistory.length }} Total
              </p>

              <nav class="mb-sm-0 d-flex justify-content-center" aria-label="navigation">
                <ngb-pagination [collectionSize]="paymentHistory.length" [page]="1" [size]="'sm'" [maxSize]="2"
                  class="pagination pagination-primary-soft d-inline-block d-md-flex rounded mb-0">
                  <ng-template ngbPaginationPrevious>Atras </ng-template>
                  <ng-template ngbPaginationNext>Siguiente </ng-template>
                </ngb-pagination>
              </nav>
            </div>
          </div>
        </ng-template>
      </li>
      <li class="nav-item" ngbNavItem domId="2">
        <a class="nav-link mb-0" ngbNavLink data-bs-toggle="tab" href="#tab-2"
          ><i class="bi bi-currency-dollar fa-fw me-1"></i>Financiamiento</a
        >
        <ng-template ngbNavContent>
          <div class="card-body tab-pane fade show active p-4" id="tab-2">
            <div class="bg-light rounded p-3 d-none d-sm-block">
              <div class="row row-cols-7 g-4">
                <div class="col">
                  <h6 class="mb-0">Orden ID</h6>
                </div>
                <div class="col">
                  <h6 class="mb-0">Fecha de creación</h6>
                </div>
                <div class="col">
                  <h6 class="mb-0">Cuotas</h6>
                </div>
                <div class="col">
                  <h6 class="mb-0">Monto</h6>
                </div>
                <div class="col">
                  <h6 class="mb-0">Estado</h6>
                </div>
                <div class="col">
                  <h6 class="mb-0">Asesor</h6>
                </div>
                <div class="col">
                  <h6 class="mb-0">+info</h6>
                </div>
              </div>
            </div>

            <div *ngFor="let item of paymentHistory" class="row row-cols-xl-7 g-4 align-items-sm-center border-bottom px-2 py-4">
              <div class="col">
                <small class="d-block d-sm-none">Orden ID:</small>
                <h6 class="fw-light mb-0">#{{ item.id }}</h6>
              </div>

              <div class="col">
                <small class="d-block d-sm-none">Fecha de creación:</small>
                <h6 class="mb-0 fw-normal">{{ item.createdAt | date: 'dd/MM/yyyy' }}</h6>
              </div>

              <div class="col">
                <small class="d-block d-sm-none">Cuotas:</small>
                <h6 class="mb-0">{{ item.quotas.length }}</h6>
              </div>

              <div class="col position-relative">
                <small class="d-block d-sm-none">Monto:</small>
                <h6 class="mb-0">{{ item.amount | currency }}</h6>
              </div>

              <div class="col">
                <small class="d-block d-sm-none">Estado:</small>
                <div class="badge bg-success bg-opacity-10 text-success" [ngClass]="{
                      'bg-orange text-orange': item.status === 'POR_CONFIRMAR',
                      'bg-danger text-danger': item.status === 'CANCELADO'
                    }">
                  {{ item.status | titlecase | replaceUnderscore }}
                </div>
              </div>

              <div class="col">
                <small class="d-block d-sm-none">Asesor:</small>
                <h6 class="mb-0">{{ item.user.name + ' ' + item.user.lastName }}</h6>
              </div>

              <div class="col">
                <a href="javascript:void(0);" class="btn btn-light btn-round mb-0"><i class="bi bi-eye-fill"></i></a>
              </div>
            </div>
          </div>

          <div class="card-footer pt-0" *ngIf="!isLoading && paymentHistory.length > 0">
            <div class="d-sm-flex justify-content-sm-between align-items-sm-center">
              <p class="mb-sm-0 text-center text-sm-start">
                Mostrar 1 a {{ paymentHistory.length }} de {{ paymentHistory.length }} Total
              </p>

              <nav class="mb-sm-0 d-flex justify-content-center" aria-label="navigation">
                <ngb-pagination [collectionSize]="paymentHistory.length" [page]="1" [size]="'sm'" [maxSize]="2"
                  class="pagination pagination-primary-soft d-inline-block d-md-flex rounded mb-0">
                  <ng-template ngbPaginationPrevious>Atras </ng-template>
                  <ng-template ngbPaginationNext>Siguiente </ng-template>
                </ngb-pagination>
              </nav>
            </div>
          </div>
        </ng-template>
      </li>
    </ul>

    <div class="tab-content" [ngbNavOutlet]="nav" id="nav-tabContent"></div>
  </div>
</div>
