<div class="col-lg-6 d-md-flex align-items-center order-2 order-lg-1">
  <div class="p-3 p-lg-5">
    <img src="assets/images/element/forgot-pass.svg" alt="" />
  </div>

  <div class="vr opacity-1 d-none d-lg-block"></div>
</div>

<div class="col-lg-6 order-1">
  <div class="p-4 p-sm-7">
    <div style="display: flex; justify-content: center; align-items: center; height: 100%;">
      <a routerLink="/">
        <img class="h-50px mb-4" src="assets/images/logo-light-full.png" alt="logo" />
      </a>
    </div>

    <h1 class="mb-2 h4">Recuperar Contraseña</h1>
    <p class="mb-sm-0">Ingresa el correo asociado a la cuenta</p>

    <form [formGroup]="forgotpwdForm" (ngSubmit)="onSubmit()" class="mt-sm-4 text-start">
      <div class="mb-3">
        <label class="form-label">Correo Electronico</label>
        <input type="email" formControlName="email" [ngClass]="{ 'is-invalid': submitted && form['email'].errors }"
          class="form-control" />
        <div class="invalid-feedback">Please enter email</div>
      </div>

      <div class="mb-3 text-center">
        <p>Regresar a <a routerLink="/auth/sign-in">Iniciar Sesion</a></p>
      </div>

      <div class="d-grid">
        <button type="submit" class="btn btn-primary">Resetear Contraseña</button>
      </div>

      <div class="text-primary-hover text-body mt-3 text-center">
        © Arcadia Viajes {{ currentYear }}, Todos los Derechos Reservados.
      </div>
    </form>
  </div>
</div>