<div class="col-lg-6 d-flex align-items-center order-2 order-lg-1">
  <div class="p-3 p-lg-5">
    <img src="assets/images/element/signin.svg" alt="" />
  </div>

  <div class="vr opacity-1 d-none d-lg-block"></div>
</div>

<div class="col-lg-6 order-1">
  <div class="p-4 p-sm-7">
    <div style="display: flex; justify-content: center; align-items: center; height: 100%;">
      <a routerLink="/">
        <img class="h-50px mb-4" src="assets/images/logo-light-full.png" alt="logo" />
      </a>
    </div>

    <h1 class="mb-2 h3">Iniciar Sesion</h1>
    <p class="mb-0">
      Unete a la familia Arcadia,<a routerLink="/auth/sign-up"> Crear Cuenta</a>
    </p>

    <form [formGroup]="signinForm" (ngSubmit)="onLogin()" class="mt-4 text-start">
      <div class="mb-3">
        <label class="form-label">Usuario</label>
        <input type="username" formControlName="username" class="form-control"
          [ngClass]="{ 'is-invalid': submitted && form['username'].errors }" />
        <div class="invalid-feedback">Ingresar Dato</div>
      </div>

      <div class="mb-3 position-relative">
        <label class="form-label">Contraseña</label>
        <input class="form-control fakepassword" formControlName="password" [type]="passwordType ? 'password' : 'text'"
          [ngClass]="{ 'is-invalid': submitted && form['password'].errors }" id="psw-input" />
        <span class="position-absolute top-50 end-0 translate-middle-y p-0 mt-3">
          <i class="fakepasswordicon fas fa-eye-slash cursor-pointer p-2" [ngClass]="{ 'fa-eye': !passwordType }"
            (click)="changeType()"></i>
        </span>
        <div class="invalid-feedback">Ingresar Dato</div>
      </div>

      <div class="mb-3 d-sm-flex justify-content-between">
        <a routerLink="/auth/forgot-password">Olvidaste la Contraseña?</a>
      </div>

      <div>
        <button type="submit" class="btn btn-primary w-100 mb-0">Iniciar Sesion</button>
      </div>

      <div class="text-primary-hover text-body mt-3 text-center">
        © Arcadia Viajes {{ currentYear }}, Todos los Derechos Reservados.
      </div>
    </form>
  </div>
</div>
