<!-- <div class="card border">
  <div class="card-header border-bottom">
    <h4 class="card-header-title">Actualizar Contraseña</h4>
    <p class="mb-0">
      Si has olvidado tu contraseña, ingresa tu correo electrónico en el siguiente formulario para enviar un enlace para
      restablercerla.
    </p>
  </div>

  <form class="card-body" [formGroup]="updatePasswords">

    <div class="mb-3">
      <label class="form-label"> Nueva Contraseña</label>
      <div class="input-group">
        <input class="form-control fakepassword" type="{{ isShowPassword1 ? 'text' : 'password' }}"
          formControlName="password" [ngClass]="{
            'is-invalid': updatePasswords.get('password')?.errors && formSubmit
          }" placeholder="Enter new password" type="password" id="psw-input" />
        <span class="input-group-text p-0 bg-transparent">
          <i class="fakepasswordicon fas cursor-pointer p-2" type="password"
            (click)="isShowPassword1 = !isShowPassword1" [ngClass]="isShowPassword1 ? 'fa-eye' : 'fa-eye-slash'"></i>
        </span>
        <div class="invalid-feedback">Ingresar Dato</div>
      </div>
    </div>

    <div class="mb-3">
      <label class="form-label">Confirmar Nueva Contraseña</label>
      <div class="input-group">
        <input class="form-control" type="{{ isShowPassword2 ? 'text' : 'password' }}" formControlName="confirmpassword"
          [ngClass]="{
            'is-invalid':
              updatePasswords.get('confirmpassword')?.touched &&
              updatePasswords.errors?.['notSame']
          }" type="password" placeholder="Confirm new password" />
        <span class="input-group-text p-0 bg-transparent">
          <i class="fakepasswordicon fas cursor-pointer p-2" type="password"
            (click)="isShowPassword2 = !isShowPassword2" [ngClass]="isShowPassword2 ? 'fa-eye' : 'fa-eye-slash'"></i>
        </span>
        <div class="invalid-feedback">
          Ingresar Dato
        </div>
      </div>
    </div>
    <div class="text-end">
      <a href="javascript:void(0);" (click)="onSubmit()" class="btn btn-primary mb-0">Cambiar Contraseña</a>
    </div>
  </form>
</div> -->
