<section class="py-0">
  <div class="container-fluid">
    <div class="bg-primary rounded-3 p-5 text-white">
      <div class="row text-center">
        <div class="col-md-3 mb-4 mb-md-0">
          <h1 class="text-warning display-4">{{ travelers }}+</h1>
          <p class="lead">Viajeros satisfechos alrededor del mundo.</p>
        </div>
        <div class="col-md-3 mb-4 mb-md-0">
          <h1 class="text-warning display-4">{{ destinations }}+</h1>
          <p class="lead">Destinos internacionales y nacionales cubiertos.</p>
        </div>
        <div class="col-md-3 mb-4 mb-md-0">
          <h1 class="text-warning display-4">{{ advisories }}+</h1>
          <p class="lead">Asesorías personalizadas realizadas para viajeros exigentes.</p>
        </div>
        <div class="col-md-3">
          <h1 class="text-warning display-4">{{ bookings }}+</h1>
          <p class="lead">Reservas gestionadas.</p>
          <a class="btn btn-success">EN VIVO</a>
        </div>
      </div>
    </div>
  </div>
</section>