<div class="chat-container" [class.hidden]="isHidden">
    <div class="chat-header">
        <button (click)="toggleChat()" class="toggle-button">
            <i class="bi bi-chat-dots">{{ isHidden ? 'chat' : 'close' }}</i>
        </button>
    </div>
    <div class="chat-content">
        <!-- Aquí va el contenido del chat -->
        <div class="row">
            <!-- Sección del Chat -->
            <div class="col-md-12 h-100 d-flex flex-column">
                <div class="shadow rounded bg-light h-100">
                    <div class="chat-box d-flex flex-column h-100">
                        <!-- Cuerpo del Chat -->
                        <div class="chat-container">
                            <div class="chat-messages">
                                <div *ngFor="let message of messages" [class.user-message]="message.sender === 'user'"
                                    [class.bot-message]="message.sender === 'bot'">
                                    {{ message.text }}
                                </div>
                            </div>
                            <div class="chat-input">
                                <input type="text" [(ngModel)]="userInput" placeholder="Escribe tu mensaje..."
                                    (keydown.enter)="sendMessage()" />
                                <button (click)="sendMessage()"><i class="bi bi-send"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>