<section class="pt-0 pt-md-5">
  <div class="container">
    <div class="row g-4 g-lg-5 align-items-center">
      <div class="col-lg-4">
        <h1 class="mb-0">Conoce Nuestras Oficinas en {{ officeName }}🔥</h1>
        <p>Conoce nuestras sedes y encuentra el apoyo personalizado que necesitas para hacer realidad el viaje de tus
          sueños, estés donde estés.</p>

        <a href="javascript:void(0);" class="btn btn-lg btn-primary-soft mb-0 mt-4">Explore places <i
            class="bi fa-fw bi-arrow-right ms-2"></i></a>
      </div>

      <div class="col-lg-8">
        <lightgallery [settings]="settings" class="row">
          <div class="col-md-6">
            <div class="card card-element-hover card-overlay-hover overflow-hidden">
              <img src="assets/images/sedes/barquisimeto/barquisimeto.jpg" class="rounded-3" alt="" />

              <a class="hover-element position-absolute w-100 h-100" data-glightbox data-gallery="gallery"
                href="assets/images/sedes/barquisimeto/barquisimeto.jpg">
                <i
                  class="bi bi-fullscreen fs-6 text-white position-absolute top-50 start-50 translate-middle bg-dark rounded-1 p-2 lh-1"></i>
              </a>
            </div>

            <div class="tiny-slider arrow-round arrow-blur arrow-hover arrow-xs my-4 mb-md-0">
              <div class="tiny-slider-inner pb-1" data-autoplay="true" data-arrow="true" data-dots="false"
                data-items="1">
                <ng-tiny-slider [config]="testimonialSliderSettings" #offerSlider>
                  <div *ngFor="let item of testimonialSlides" class="card bg-transparent">
                    <div class="row align-items-center">
                      <div class="col-4">
                        <img [src]="item.image" class="card-img" alt="" />
                      </div>

                      <div class="col-8">
                        <div class="card-body p-0">
                          <p class="mb-0">{{ item.description }}</p>
                          <h6 class="card-title mb-0 mt-2">
                            {{ item.name }}
                          </h6>
                        </div>
                      </div>
                    </div>
                  </div>
                </ng-tiny-slider>
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="card card-element-hover card-overlay-hover overflow-hidden mb-4">
              <img src="assets/images/sedes/valencia/valencia.jpg" class="rounded-3" alt="" />

              <a class="hover-element position-absolute w-100 h-100" data-glightbox data-gallery="gallery"
                href="https://www.youtube.com/embed/tXHviS-4ygo">
                <span
                  class="btn text-danger btn-round btn-white position-absolute top-50 start-50 translate-middle mb-0">
                  <i class="fas fa-play"></i>
                </span>
              </a>
            </div>

            <div class="card card-element-hover card-overlay-hover overflow-hidden">
              <img src="assets/images/sedes/caracas/caracas.png" class="rounded-3" alt="" />

              <a class="hover-element position-absolute w-100 h-100" data-glightbox data-gallery="gallery"
                href="assets/images/sedes/caracas/caracas.png">
                <i
                  class="bi bi-fullscreen fs-6 text-white position-absolute top-50 start-50 translate-middle bg-dark rounded-1 p-2 lh-1"></i>
              </a>
            </div>
          </div>
        </lightgallery>
      </div>
    </div>
  </div>
</section>
<section class="container py-5">
  <h2 class="display-4 text-uppercase mb-4">Nuestras Sedes</h2>
  <div class="row g-4">
    <style>
      .col-md-4 img {
        width: 100%;
        /* Asegura que las imágenes ocupen todo el ancho del contenedor */
        height: 200px;
        /* Define una altura fija */
        object-fit: cover;
        /* Asegura que la imagen no se distorsione y mantenga su proporción */
        cursor: pointer;
      }
    </style>
    <div class="col-md-4" *ngFor="let office of selectedOffice">
      <img [src]="'/assets/images/sedes/' + office.name.toLowerCase() + '/' + office.name.toLowerCase() + '.jpg'" alt="Imagen de {{ office.name }}" class="img-fluid rounded shadow"
        data-bs-toggle="modal" [attr.data-bs-target]="'#modal' + office.name" />
      <div class="modal fade" [id]="'#modal' + office.name" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">{{ office.name }}</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <p><strong>Teléfono:</strong> {{ office.phone }}</p>
              <p><strong>Dirección:</strong> {{ office.address }}</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
