<div class="card border bg-transparent">
    <div class="card-header bg-transparent border-bottom">
        <h4 class="card-header-title">Mis Citas</h4>
    </div>

    <div class="card-body p-0">
        <ul class="nav nav-tabs nav-bottom-line nav-responsive nav-justified">
            <li class="nav-item" ngbNavItem>
                <a class="nav-link mb-0" ngbNavLink data-bs-toggle="tab" href="#tab-1"><i
                        class="bi bi-briefcase-fill fa-fw me-1"></i>Citas proximas</a>
                <ng-template ngbNavContent>
                </ng-template>
            </li>
            <!-- Other tabs... -->
        </ul>
    </div>
</div>

<!-- Modal content -->