<div class="card border bg-transparent">
    <div class="card-header bg-transparent border-bottom">
        <h4 class="card-header-title">Mis Citas</h4>
    </div>

    <div class="card-body p-0">
        <ul ngbNav #nav="ngbNav" class="nav nav-tabs nav-bottom-line nav-responsive nav-justified">
            <li class="nav-item" ngbNavItem>
                <a class="nav-link mb-0" ngbNavLink data-bs-toggle="tab" href="#tab-1"><i
                        class="bi bi-briefcase-fill fa-fw me-1"></i>Citas proximas</a>
                <ng-template ngbNavContent>
                    <div class="tab-pane fade show active" id="tab-1">
                        <div *ngFor="let item of wishListCards;">
                            <div *ngFor="let item2 of item.accommodations;">
                                <div class="card shadow p-2 mb-3">
                                    <div class="row g-0">
                                        <div class="col-md-3">
                                            <img src='./assets/images/expedia.png' class="card-img rounded-2"
                                                alt="Card image" />
                                        </div>

                                        <div class="col-md-9">
                                            <div class="card-body py-md-2 d-flex flex-column h-100">
                                                <h5 class="card-title mb-2">
                                                    <a routerLink="{{ item2.link?.name }}">{{ item2.name }}</a>
                                                </h5>
                                                <div class="d-flex justify-content-between">
                                                    <div class="mt-2">
                                                        <strong>Localizador:</strong> {{ item2.locator }}
                                                    </div>
                                                    <div class="mt-2">
                                                        <strong>Cliente:</strong> {{ item2.customer.name }} {{
                                                        item2.customer.last_name }}
                                                    </div>
                                                    <div class="mt-2">
                                                        <strong>Proveedor:</strong> {{ item2.providerSystem.name }}
                                                    </div>

                                                </div>
                                                <div class="row g-0">
                                                    <div class="d-flex justify-content-around">
                                                        <div class="mt-2">
                                                            <strong>Check In:</strong> {{ item2.dateStart | date:
                                                            'dd/MM/yyyy' }}
                                                        </div>
                                                        <div class="mt-2">
                                                            <strong>Check Out:</strong> {{ item2.dateEnd | date:
                                                            'dd/MM/yyyy' }}
                                                        </div>
                                                        <div class="mt-2">
                                                            <strong>Duracion:</strong> {{ calcularDiasEstadia(item2) }}
                                                            Días
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- <small><i class="bi bi-geo-alt me-2"></i>{{ item2.locator }}</small> -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </li>
            <!-- Other tabs... -->
        </ul>

        <div class="tab-content p-2 p-sm-4" [ngbNavOutlet]="nav" id="nav-tabContent"></div>
    </div>
</div>

<!-- Modal content -->