<div class="card border">
  <div class="card-header border-bottom d-flex justify-content-between align-items-center">
    <h4 class="card-header-title">Información Personal</h4>
    <button type="button" class="btn btn-sm btn-primary" (click)="toggleEditMode()">
      <i class="fas fa-pencil-alt"></i> Editar
    </button>
  </div>

  <div class="card-body">
    <form [formGroup]="personalInfoForm" class="row g-3">
      <div class="col-md-6">
        <label class="form-label">Nombre<span class="text-danger">*</span></label>
        <input type="text" formControlName="name" class="form-control" [readonly]="!isEditMode" placeholder="Enter your full name" />
      </div>

      <div class="col-md-6">
        <label class="form-label">Apellido<span class="text-danger">*</span></label>
        <input type="text" formControlName="last_name" class="form-control" [readonly]="!isEditMode" placeholder="Enter your full name" />
      </div>

      <div class="col-md-6">
        <label class="form-label">Cedula / DNI<span class="text-danger">*</span></label>
        <input type="text" formControlName="identityCard" class="form-control" [readonly]="!isEditMode" placeholder="Enter your identity card" />
      </div>

      <div class="col-md-6">
        <label class="form-label">Correo Electronico<span class="text-danger">*</span></label>
        <input type="email" formControlName="email" class="form-control" [readonly]="!isEditMode" placeholder="Enter your email id" />
      </div>

      <div class="col-md-6">
        <label class="form-label">Teléfono<span class="text-danger">*</span></label>
        <input type="text" formControlName="phone" class="form-control" [readonly]="!isEditMode" placeholder="Enter your mobile number" />
      </div>

      <div class="col-md-6">
        <label class="form-label">Fecha de Nacimiento<span class="text-danger">*</span></label>
        <input
        type="text"
        mwlFlatpickr
        class="form-control flatpickr"
        data-date-format="d/m/Y"
        placeholder="Select date"
        formControlName="birth_date"
        [readonly]="!isEditMode"
      />
      </div>

      <div class="col-md-6">
        <label class="form-label">País<span class="text-danger">*</span></label>
        <input type="text" formControlName="country" class="form-control" [readonly]="!isEditMode" placeholder="Enter your country" />
      </div>

      <div class="col-md-6">
        <label class="form-label">Estado<span class="text-danger">*</span></label>
        <input type="text" formControlName="state" class="form-control" [readonly]="!isEditMode" placeholder="Enter your state" />
      </div>

      <div class="col-md-12">
        <label class="form-label">Calle<span class="text-danger">*</span></label>
        <input type="text" formControlName="street" class="form-control" [readonly]="!isEditMode" placeholder="Enter your street" />
      </div>

      <div class="col-12">
        <button type="button" class="btn btn-primary" (click)="onSave()" [disabled]="!isEditMode">Guardar Cambios</button>
      </div>
    </form>
  </div>
</div>
