<section class="pt-4">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-xl-8 mx-auto">
        <div class="card shadow">
          <img src="assets/images/referidos.jpg" class="rounded-top" alt="" />
          <div class="card-body text-center p-4">
            <h1 class="card-title fs-3">Sabemos lo importante que es tu viaje para ti. 😎</h1>
            <p class="lead mb-3">Ya uno de nuestros agentes recibió tu información de contacto y se pondrá en contacto
              contigo</p>
            <h5 class="text-primary mb-4">Información Enviada en el Formulario</h5>
            <div class="row justify-content-between text-start mb-4">
              <div class="col-lg-5">
                <ul class="list-group list-group-borderless">
                  <li class="list-group-item d-sm-flex justify-content-between align-items-center">
                    <span class="mb-0"><i class="bi bi-vr fa-fw me-2"></i>Nombre:</span>
                    <span class="h6 fw-normal mb-0"> Pedro</span>
                  </li>
                  <li class="list-group-item d-sm-flex justify-content-between align-items-center">
                    <span class="mb-0"><i class="bi bi-person fa-fw me-2"></i>Apellido:</span>
                    <span class="h6 fw-normal mb-0"> Guerrero</span>
                  </li>
                  <li class="list-group-item d-sm-flex justify-content-between align-items-center">
                    <span class="mb-0"><i class="bi bi-wallet2 fa-fw me-2"></i>Correo:</span>
                    <span class="h6 fw-normal mb-0">camilo gmail.com</span>
                  </li>
                  <li class="list-group-item d-sm-flex justify-content-between align-items-center">
                    <span class="mb-0"><i class="bi bi-currency-dollar fa-fw me-2"></i>Telefono:</span>
                    <span class="h6 fw-normal mb-0">
                      0424 6049376</span>
                  </li>
                </ul>
              </div>

              <div class="col-lg-5">
                <ul class="list-group list-group-borderless">
                  <li class="list-group-item d-sm-flex justify-content-between align-items-center">
                    <span class="mb-0"><i class="bi bi-calendar fa-fw me-2"></i>Fecha:</span>
                    <span class="h6 fw-normal mb-0"> 29 Julio 2025</span>
                  </li>
                  <li class="list-group-item d-sm-flex justify-content-between align-items-center">
                    <span class="mb-0"><i class="bi bi-people fa-fw me-2"></i>Destino:</span>
                    <span class="h6 fw-normal mb-0"> Argentina</span>
                  </li>
                </ul>
              </div>
            </div>

            <div class="d-sm-flex justify-content-sm-end d-grid">
              <!-- <div ngbDropdown class="dropdown me-sm-2 mb-2 mb-sm-0">
                <a ngbDropdownToggle class="btn btn-light mb-0 w-100 arrow-none" role="button" id="dropdownShare"
                  data-bs-toggle="dropdown" aria-expanded="false">
                  <i class="bi bi-share me-2"></i>Share
                </a>

                <ul ngbDropdownMenu class="dropdown-menu dropdown-menu-end min-w-auto shadow rounded"
                  aria-labelledby="dropdownShare">
                  <li>
                    <a class="dropdown-item" href="javascript:void(0);"><i
                        class="fab fa-twitter-square me-2"></i>Twitter</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="javascript:void(0);"><i
                        class="fab fa-facebook-square me-2"></i>Facebook</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="javascript:void(0);"><i class="fab fa-linkedin me-2"></i>LinkedIn</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="javascript:void(0);"><i class="fas fa-copy me-2"></i>Copy link</a>
                  </li>
                </ul>
              </div> -->

              <a href="/home" class="btn btn-primary mb-0"><i class="bi bi-layer-backward me-2"></i>Regresar</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>