<section class="py-0">
  <div class="container-fluid position-relative">
    <div class="bg-primary rounded-3 position-relative p-4 p-sm-5 text-white">
      <div class="row align-items-center position-relative">
        <div class="col-lg-12 text-center">
          <h3 class="text-white display-4 fw-bold">SOBRE ARCADIA</h3>
          <p class="lead mb-4">
            En Arcadia Viajes, convertimos tus sueños de viajar en realidades inolvidables. Con sedes físicas en
            Venezuela, Colombia, Perú, España, Ecuador, Argentina, Chile y Panamá, somos más que una agencia de viajes;
            somos tus aliados en cada paso del camino.
          </p>
          <p class="lead mb-4">
            Nuestra esencia radica en lo que más valoramos: nuestro capital humano. Invertimos en personas apasionadas
            que ofrecen una atención personalizada y adaptada a tus necesidades, garantizando que cada experiencia sea
            única.
          </p>
          <p class="lead mb-4">
            Más de 50,000 viajeros nos han confiado sus aventuras en estos 7 años de trayectoria, disfrutando de
            seguridad, respaldo y nuestro compromiso de estar disponibles las 24 horas del día.
          </p>
          <p class="lead mb-4">Como especialistas en viajes a España, contamos con tarifas exclusivas que no encontrarás
            en ninguna otra agencia. Garantizamos el mejor precio y la mejor experiencia para tus viajes a este destino
            soñado.
          </p>
          <p class="lead mb-4">Tu próximo gran viaje comienza aquí. ¡Vive la experiencia Arcadia Viajes y siente la
            diferencia!</p>
          <a href="#contact" class="btn btn-warning btn-lg mt-3">Contáctanos</a>
        </div>
      </div>
    </div>
  </div>
</section>