<section class="py-0">
  <div class="container-fluid position-relative">
    <div class="bg-primary rounded-3 position-relative p-4 p-sm-5 text-white">
      <div class="row align-items-center position-relative">
        <div class="col-lg-12 text-center">
          <h3 class="text-white display-4 fw-bold">SOBRE ARCADIA</h3>
          <p class="lead mb-4">
            Descubre experiencias inolvidables y destinos fascinantes con nuestro equipo de viajes expertos en Arcadia.
          </p>
          <p class="lead mb-4">
            Nuestra pasión es hacer que tus sueños de viaje se hagan realidad. Con 5 años de experiencia, más de 30,000 pasajeros han confiado en Arcadia. Estamos dedicados a crear momentos excepcionales en todo el mundo.
          </p>
          <p class="lead mb-4">
            Desde aventuras emocionantes hasta inmersiones culturales, nuestro equipo se esfuerza por superar tus expectativas. Únete a la comunidad de viajeros satisfechos con nosotros.
          </p>
          <a href="#contact" class="btn btn-warning btn-lg mt-3">Contáctanos</a>
        </div>
      </div>
    </div>
  </div>
</section>
