@if (staticAlert) {
  <ngb-alert
    [dismissible]="false"
    class="alert topNav alert-warning py-2 text-white m-0 bg-primary border-0 rounded-0 alert-dismissible fade show text-center overflow-hidden"
    role="alert"
  >
    <p class="text-white m-0">
      ¿Listo para tu próxima aventura? Descubre destinos increíbles con Arcadia.
      <a href="javascript:void(0)" class="btn btn-xs btn-dark ms-2 mb-0">¡Explora más!</a>
    </p>
    <button
      type="button"
      class="btn-close btn-close-white opacity-9 p-3"
      (click)="staticAlert = false"
      data-bs-dismiss="alert"
      aria-label="Close"
    ></button>
  </ngb-alert>
}
<about-topbar />
@if (promoAlert) {
  <ngb-alert
    [dismissible]="false"
    class="alert topNav alert-warning py-2 text-dark m-0 bg-light border-0 rounded-0 alert-dismissible fade show text-center overflow-hidden"
    role="alert"
  >
  <p class="text-dark m-0">
    <img src="assets/images/logo_cashea.png" alt="Cashea Logo" class="me-2" style="height: 24px;">
    ¡Aprovecha nuestra promoción especial! Paga con Cashea y obtén un 10% de descuento en tu próximo viaje.
    <a href="javascript:void(0)" class="btn btn-xs btn-dark ms-2 mb-0">¡Cashea ahora!</a>
  </p>
    <button
      type="button"
      class="btn-close btn-close-dark opacity-9 p-3"
      (click)="promoAlert = false"
      data-bs-dismiss="alert"
      aria-label="Close"
    ></button>
  </ngb-alert>
}
<directories-hero/>
<home-testimonial-slider/>

<flights-home-action-box/>
<p>principal works!</p>
