<body>
  <div class="wave-container">
    <div class="wave wave-top"></div>
    <div class="content">
      <app-agent-info />
      <reviews-statistic-cards class="d-none d-md-block" />
      <dashboard-booking-stats class="d-none d-md-block" />
      <directories-coupon class="d-none d-md-block" />
    </div>
    <div class="wave wave-bottom"></div>
  </div>
</body>


<!-- <div class="container-fluid p-5 bg-primary"
  style="background-image: url(../../../../../../assets/images/bg/nube.png);background-repeat:no-repeat; background-size: cover;
  ">
  <app-agent-info />
  <reviews-statistic-cards />
  <dashboard-booking-stats />
  <directories-coupon />
</div> -->