<div class="card shadow p-4">
  <div class="card-header border-bottom p-4">
    <h4 class="card-title mb-0">
      <i class="bi bi-wallet-fill me-2"></i>Payment Options
    </h4>
  </div>

  <div class="card-body p-4 pb-0">
    <div
      ngbAccordion
      [closeOthers]="true"
      class="accordion accordion-icon accordion-bg-light"
      id="accordioncircle"
    >
      <div ngbAccordionItem [collapsed]="false" class="accordion-item mb-3">
        <h6 ngbAccordionHeader class="accordion-header" id="heading-1">
          <button
            ngbAccordionButton
            class="accordion-button rounded collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapse-1"
            aria-expanded="true"
            aria-controls="collapse-1"
          >
            <i class="bi bi-credit-card text-primary me-2"></i>
            <span class="me-5">Credit or Debit Card</span>
          </button>
        </h6>
        <div
          ngbAccordionCollapse
          id="collapse-1"
          class="accordion-collapse collapse"
          aria-labelledby="heading-1"
          data-bs-parent="#accordioncircle"
        >
          <div class="accordion-body">
            <div class="d-sm-flex justify-content-sm-between my-3">
              <h6 class="mb-2 mb-sm-0">We Accept:</h6>
              <ul class="list-inline my-0">
                <li class="list-inline-item">
                  <a href="javascript:void(0);"
                    ><img
                      src="assets/images/element/visa.svg"
                      class="h-30px"
                      alt=""
                  /></a>
                </li>
                <li class="list-inline-item">
                  <a href="javascript:void(0);"
                    ><img
                      src="assets/images/element/mastercard.svg"
                      class="h-30px"
                      alt=""
                  /></a>
                </li>
                <li class="list-inline-item">
                  <a href="javascript:void(0);"
                    ><img
                      src="assets/images/element/expresscard.svg"
                      class="h-30px"
                      alt=""
                  /></a>
                </li>
              </ul>
            </div>

            <ngx-stripe-elements [stripe]="stripe" [elementsOptions]="elementsOptions">
              <form
                [formGroup]="paymentForm"
                (ngSubmit)="onSubmit()"
                class="row g-3"
              >
                <div class="col-12">
                  <label class="form-label"
                    ><span class="h6 fw-normal">Card Number *</span></label
                  >
                  <div class="position-relative">
                    <input
                      type="text"
                      class="form-control"
                      formControlName="cardnumber"
                      mask="0000 0000 0000 0000"
                      [ngClass]="{
                        'is-invalid': submit && form['cardnumber'].errors
                      }"
                      placeholder="XXXX XXXX XXXX XXXX"
                    />
                    <img
                      src="assets/images/element/visa.svg"
                      class="w-30px position-absolute top-50 end-0 translate-middle-y me-2 d-none d-sm-block"
                      alt=""
                    />
                  </div>
                </div>

                <div class="col-md-6">
                  <label class="form-label"
                    ><span class="h6 fw-normal">Expiration date *</span></label
                  >
                  <div class="input-group">
                    <input
                      type="text"
                      class="form-control"
                      formControlName="month"
                      maxlength="2"
                      mask="00"
                      [ngClass]="{ 'is-invalid': submit && form['month'].errors }"
                      placeholder="Month"
                    />
                    <input
                      type="text"
                      class="form-control"
                      formControlName="year"
                      maxlength="4"
                      mask="0000"
                      [ngClass]="{ 'is-invalid': submit && form['year'].errors }"
                      placeholder="Year"
                    />
                  </div>
                </div>
                <!--Cvv code  -->
                <div class="col-md-6">
                  <label class="form-label"
                    ><span class="h6 fw-normal">CVV / CVC *</span></label
                  >
                  <input
                    type="text"
                    class="form-control"
                    formControlName="cvv"
                    maxlength="3"
                    mask="000"
                    [ngClass]="{ 'is-invalid': submit && form['cvv'].errors }"
                    placeholder="xxx"
                  />
                  <div class="invalid-feedback">
                    cvv must be a `number` type, but the final value was: `NaN`
                    (cast from the value `""`).
                  </div>
                </div>

                <div class="col-12">
                  <label class="form-label"
                    ><span class="h6 fw-normal">Name on Card *</span></label
                  >
                  <input
                    type="text"
                    class="form-control"
                    formControlName="name"
                    aria-label="name of card holder"
                    [ngClass]="{ 'is-invalid': submit && form['name'].errors }"
                    placeholder="Enter card holder name"
                  />
                  <div class="invalid-feedback">
                    Please enter card holder name
                  </div>
                </div>

                <div class="col-12">
                  <label class="form-label"
                    ><span class="h6 fw-normal">Email *</span></label
                  >
                  <input
                    type="email"
                    class="form-control"
                    formControlName="email"
                    aria-label="email"
                    [ngClass]="{ 'is-invalid': submit && form['email'].errors }"
                    placeholder="Enter email"
                  />
                  <div class="invalid-feedback">
                    Please enter a valid email
                  </div>
                </div>

                <div class="col-12">
                  <label class="form-label"
                    ><span class="h6 fw-normal">Address</span></label
                  >
                  <input
                    type="text"
                    class="form-control"
                    formControlName="address"
                    aria-label="address"
                    placeholder="Enter address"
                  />
                </div>

                <div class="col-md-6">
                  <label class="form-label"
                    ><span class="h6 fw-normal">Zip Code</span></label
                  >
                  <input
                    type="text"
                    class="form-control"
                    formControlName="zipcode"
                    aria-label="zipcode"
                    placeholder="Enter zip code"
                  />
                </div>

                <div class="col-md-6">
                  <label class="form-label"
                    ><span class="h6 fw-normal">City</span></label
                  >
                  <input
                    type="text"
                    class="form-control"
                    formControlName="city"
                    aria-label="city"
                    placeholder="Enter city"
                  />
                </div>

                <div class="col-12">
                  <label class="form-label"
                    ><span class="h6 fw-normal">Amount *</span></label
                  >
                  <input
                    type="text"
                    class="form-control"
                    formControlName="amount"
                    aria-label="amount"
                    [ngClass]="{ 'is-invalid': submit && form['amount'].errors }"
                    placeholder="Enter amount"
                  />
                  <div class="invalid-feedback">
                    Please enter a valid amount
                  </div>
                </div>

                <div class="col-12">
                  <div
                    class="d-sm-flex justify-content-sm-between align-items-center"
                  >
                    <h4>
                      {{ currencyType }}1800
                      <span class="small fs-6">Due now</span>
                    </h4>
                    <button type="submit" class="btn btn-primary mb-0">
                      Pay Now
                    </button>
                  </div>
                </div>
              </form>
            </ngx-stripe-elements>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card-footer p-4 pt-0">
    <p class="mb-0">
      By processing, You accept Booking
      <a href="javascript:void(0);">Terms of Services</a> and
      <a href="javascript:void(0);">Policy</a>
    </p>
  </div>
</div>
