<section class="pt-0">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <form
          class="bg-mode border rounded position-relative px-4 pt-4 mb-4 mb-sm-0"
        >
          <div class="row g-4">
            <div class="col-lg-6">
              <ul
                ngbNav
                #nav="ngbNav"
                class="nav nav-pills nav-pills-dark"
                id="pills-tab"
                role="tablist"
              >
                <li ngbNavItem class="nav-item" role="presentation">
                  <button
                    ngbNavLink
                    class="nav-link rounded-start rounded-0 mb-0"
                    id="pills-one-way-tab"
                    data-bs-toggle="pill"
                    data-bs-target="#pills-one-way"
                    type="button"
                    role="tab"
                    aria-selected="true"
                  >
                    One Way
                  </button>
                  <ng-template ngbNavContent>
                    <div
                      class="tab-pane fade show active"
                      id="pills-one-way"
                      role="tabpanel"
                      aria-labelledby="pills-one-way-tab"
                    >
                      <div class="row g-4">
                        <div class="col-md-6 col-lg-4 position-relative">
                          <div
                            class="form-border-transparent form-fs-lg bg-light rounded-3 h-100 p-3"
                          >
                            <label class="mb-1"
                              ><i class="bi bi-geo-alt me-2"></i>From</label
                            >
                            <select
                              selectFormInput
                              class="form-select js-choice"
                              data-search-enabled="true"
                            >
                              <option value="">Select location</option>
                              <option selected>San Jacinto, USA</option>
                              <option>North Dakota, Canada</option>
                              <option>West Virginia, Paris</option>
                            </select>
                          </div>

                          <div class="btn-flip-icon mt-3 mt-md-0">
                            <button class="btn btn-white shadow btn-round mb-0">
                              <i class="fa-solid fa-right-left"></i>
                            </button>
                          </div>
                        </div>

                        <div class="col-md-6 col-lg-4">
                          <div
                            class="form-border-transparent form-fs-lg bg-light rounded-3 h-100 p-3"
                          >
                            <label class="mb-1"
                              ><i class="bi bi-send me-2"></i>To</label
                            >
                            <select
                              selectFormInput
                              class="form-select js-choice"
                              data-search-enabled="true"
                            >
                              <option value="">Select location</option>
                              <option>San Jacinto, USA</option>
                              <option selected>North Dakota, Canada</option>
                              <option>West Virginia, Paris</option>
                            </select>
                          </div>
                        </div>

                        <div class="col-lg-4">
                          <div
                            class="form-border-transparent form-fs-lg bg-light rounded-3 h-100 p-3"
                          >
                            <label class="mb-1"
                              ><i class="bi bi-calendar me-2"></i
                              >Departure</label
                            >
                            <input
                              type="text"
                              class="form-control flatpickr"
                              mwlFlatpickr
                              placeholder="Select date"
                              data-date-format="d M Y"
                              value="19 Nov 2022"
                            />
                          </div>
                        </div>

                        <div class="col-12 text-end pt-0">
                          <a
                            class="btn btn-primary mb-n4"
                            href="javascript:void(0);"
                            >Find ticket <i class="bi bi-arrow-right ps-3"></i
                          ></a>
                        </div>
                      </div>
                    </div>
                  </ng-template>
                </li>
                <li ngbNavItem class="nav-item" role="presentation">
                  <button
                    ngbNavLink
                    class="nav-link rounded-end rounded-0 mb-0"
                    id="pills-round-trip-tab"
                    data-bs-toggle="pill"
                    data-bs-target="#pills-round-trip"
                    type="button"
                    role="tab"
                    aria-selected="false"
                  >
                    Round Trip
                  </button>
                  <ng-template ngbNavContent>
                    <div
                      class="tab-pane fade show active"
                      id="pills-round-trip"
                      role="tabpanel"
                      aria-labelledby="pills-round-trip-tab"
                    >
                      <div class="row g-4">
                        <div class="col-md-6 col-xl-3 position-relative">
                          <div
                            class="form-border-transparent form-fs-lg bg-light rounded-3 h-100 p-3"
                          >
                            <label class="mb-1"
                              ><i class="bi bi-geo-alt me-2"></i>From</label
                            >
                            <select
                              selectFormInput
                              class="form-select js-choice"
                              data-search-enabled="true"
                            >
                              <option value="">Select location</option>
                              <option>San Jacinto, USA</option>
                              <option>North Dakota, Canada</option>
                              <option>West Virginia, Paris</option>
                            </select>
                          </div>

                          <div class="btn-flip-icon mt-3 mt-md-0">
                            <button class="btn btn-white shadow btn-round mb-0">
                              <i class="fa-solid fa-right-left"></i>
                            </button>
                          </div>
                        </div>

                        <div class="col-md-6 col-xl-3">
                          <div
                            class="form-border-transparent form-fs-lg bg-light rounded-3 h-100 p-3"
                          >
                            <label class="mb-1"
                              ><i class="bi bi-send me-2"></i>To</label
                            >
                            <select
                              selectFormInput
                              class="form-select js-choice"
                              data-search-enabled="true"
                            >
                              <option value="">Select location</option>
                              <option>San Jacinto, USA</option>
                              <option>North Dakota, Canada</option>
                              <option>West Virginia, Paris</option>
                            </select>
                          </div>
                        </div>

                        <div class="col-md-6 col-xl-3">
                          <div
                            class="form-border-transparent form-fs-lg bg-light rounded-3 h-100 p-3"
                          >
                            <label class="mb-1"
                              ><i class="bi bi-calendar me-2"></i
                              >Departure</label
                            >
                            <input
                              type="text"
                              class="form-control flatpickr"
                              mwlFlatpickr
                              data-date-format="d M Y"
                              placeholder="Select date"
                            />
                          </div>
                        </div>

                        <div class="col-md-6 col-xl-3">
                          <div
                            class="form-border-transparent form-fs-lg bg-light rounded-3 h-100 p-3"
                          >
                            <label class="mb-1"
                              ><i class="bi bi-calendar me-2"></i>Return</label
                            >
                            <input
                              type="text"
                              class="form-control flatpickr"
                              mwlFlatpickr
                              data-date-format="d M Y"
                              placeholder="Select date"
                            />
                          </div>
                        </div>

                        <div class="col-12 text-end pt-0">
                          <a
                            class="btn btn-primary mb-n4"
                            href="javascript:void(0);"
                            >Find ticket <i class="bi bi-arrow-right ps-3"></i
                          ></a>
                        </div>
                      </div>
                    </div>
                  </ng-template>
                </li>
              </ul>
            </div>

            <div class="col-lg-3 ms-auto">
              <div class="form-control-bg-light form-fs-md">
                <select
                  selectFormInput
                  [options]="{ searchEnabled: false }"
                  class="form-select js-choice"
                >
                  <option value="">Select Class</option>
                  <option>Economy</option>
                  <option selected>Premium Economy</option>
                  <option>Business</option>
                  <option>First Class</option>
                </select>
              </div>
            </div>

            <div class="col-lg-3 ms-auto">
              <div class="form-control-bg-light form-fs-md">
                <select
                  selectFormInput
                  [options]="{ searchEnabled: false }"
                  class="form-select js-choice"
                >
                  <option value="">Select Travelers</option>
                  <option>1</option>
                  <option selected>2</option>
                  <option>3</option>
                  <option>4</option>
                </select>
              </div>
            </div>
          </div>

          <div
            [ngbNavOutlet]="nav"
            class="tab-content mt-4"
            id="pills-tabContent"
          ></div>
        </form>
      </div>
    </div>
  </div>
</section>
