<section class="position-relative py-xl-9" style="
    background-image: url(assets/images/bg/10.jpg);
    background-position: center left;
    background-size: cover;
  ">
  <div class="container z-index-9">
    <div class="row">
      <div class="col-lg-12 m-auto text-center position-relative z-index-9">
        <form class="form-control-inline">
          <div class="d-flex flex-wrap justify-content-center align-items-center">
            <label class="form-control-inline-text">Ingrese su localizador </label>
            <span class="d-inline-block">
              <!-- <select selectFormInput [options]="{ searchEnabled: false }" class="form-select js-choice">
                <option value="">Aventureros</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>5+</option>
              </select> -->
              <div class="input-group">
                <input class="form-control js-choice border-0 me-1" type="text" formControlName="searchtxt"
                  placeholder="OPADSDS" />
              </div>
            </span>
            <!-- <label class="form-control-inline-text">Adultos responsables y </label>
            <span class="d-inline-block">
              <select selectFormInput [options]="{ searchEnabled: false }" class="form-select js-choice">
                <option value="">Tal Vez</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
            </span>

            <label class="form-control-inline-text">Niños y estamos buscando </label>
            <span class="d-inline-block">
              <select selectFormInput [options]="{ searchEnabled: false }" class="form-select js-choice">
                <option value="">un Motivo</option>
                <option>Apartment</option>
                <option>Villa</option>
                <option>Hotel</option>
                <option>Hostel</option>
              </select>
            </span>

            <label class="form-control-inline-text">en </label>
            <span class="d-inline-block">
              <select selectFormInput class="form-select js-choice" data-search-enabled="true">
                <option value="">algun Lugar</option>
                <option>California, USA</option>
                <option>New York, USA</option>
                <option>London, UK</option>
              </select>
            </span>

            <label class="form-control-inline-text">, para divertirnos los proximos</label>
            <span class="d-inline-block">
              <input type="text" class="form-control flatpickr" mwlFlatpickr [flatpickrOptions]="{ dateFormat: 'd M' }"
                data-mode="range" placeholder="Dias o Semanas" />
            </span> -->

            <label class="form-control-inline-text">.</label>
          </div>

          <button class="icon-xxl bg-primary btn-dark-hover rounded-circle btn fs-6 text-white p-0 mt-4" type="submit">
            Buscar
          </button>
        </form>
      </div>
    </div>
  </div>
</section>
<div class="container mt-3">
  <list-flight-card />

</div>
