<section class="pb-0 p-2 my-5">
  <div class="container-fluid">
    <div class="row g-4 justify-content-center align-items-center">
      <div class="col-lg-4 position-relative m-0 d-flex justify-content-end">
        <img
          src="assets/images/about/01.png"
          class="rounded-3 position-relative"
          alt=""
          style="width: 520px; height: 650px"
        />

        <!-- <div class="position-absolute bottom-0 start-0 z-index-1 mb-4 ms-5">
          <div
            class="bg-body d-flex d-inline-block rounded-3 position-relative p-3"
          >
            <img
              src="assets/images/element/01.svg"
              class="position-absolute top-0 start-0 translate-middle w-40px"
              alt=""
              height="720px"
              width="500px"
              style="width: 500px; height: 720px"
            />

            <div class="me-4">
              <h6 class="fw-light">Cliente</h6>

              <ul class="avatar-group mb-0">
                <li class="avatar avatar-sm">
                  <img
                    class="avatar-img rounded-circle"
                    src="assets/images/avatar/01.jpg"
                    alt="avatar"
                  />
                </li>
                <li class="avatar avatar-sm">
                  <img
                    class="avatar-img rounded-circle"
                    src="assets/images/avatar/02.jpg"
                    alt="avatar"
                  />
                </li>
                <li class="avatar avatar-sm">
                  <img
                    class="avatar-img rounded-circle"
                    src="assets/images/avatar/03.jpg"
                    alt="avatar"
                  />
                </li>
                <li class="avatar avatar-sm">
                  <img
                    class="avatar-img rounded-circle"
                    src="assets/images/avatar/04.jpg"
                    alt="avatar"
                  />
                </li>
                <li class="avatar avatar-sm">
                  <div class="avatar-img rounded-circle bg-primary">
                    <span
                      class="text-white position-absolute top-50 start-50 translate-middle small"
                      >1K+</span
                    >
                  </div>
                </li>
              </ul>
            </div>

            <div>
              <h6 class="fw-light mb-3">Rating</h6>
              <h6 class="m-0">
                4.5<i class="fa-solid fa-star text-warning ms-1"></i>
              </h6>
            </div>
          </div>
        </div> -->
      </div>

      <div class="col-lg-8 p-3">
        <h2 class="mb-3 mb-lg-4">¡Descubre Arcadia!</h2>
        <p class="mb-3 mb-lg-4">
          En Arcadia, nos especializamos en ofrecerte las mejores experiencias de viaje. <br> Reserva tu hotel con nosotros y aprovecha nuestras ofertas exclusivas para ahorrar en tu estadía.
        </p>

        <div class="row g-4">
          <div class="col-sm-6">
            <div class="icon-lg bg-success bg-opacity-10 text-success rounded-circle">
              <i class="fa-solid fa-utensils"></i>
            </div>
            <h3 class="mt-2">Asistencia Personalizada</h3>
            <p class="mb-0">
              Nuestros asesores te acompañan desde la planificación hasta el regreso, <br> asegurándose de que cada detalle de tu viaje sea perfecto.
            </p>
          </div>

          <div class="col-sm-6">
            <div class="icon-lg bg-danger bg-opacity-10 text-danger rounded-circle">
              <i class="bi bi-stopwatch-fill"></i>
            </div>
            <h3 class="mt-2">Reservas de Hotel y <br> Servicios Adicionales Planea</h3>
            <p class="mb-0">
              tu viaje completo con Arcadia. Además de vuelos, contamos con opciones <br> de hospedaje y actividades diseñadas a tu medida.
            </p>
          </div>

          <div class="col-sm-6">
            <div class="icon-lg bg-orange bg-opacity-10 text-orange rounded-circle">
              <i class="bi bi-shield-fill-check"></i>
            </div>
            <h3 class="mt-2">Viajes Seguros y Confiables</h3>
            <p class="mb-0">
              Con seguros de viaje y equipaje incluido, disfruta de tranquilidad en cada destino sabiendo que estás protegido.
            </p>
          </div>

          <div class="col-sm-6">
            <div class="icon-lg bg-info bg-opacity-10 text-info rounded-circle">
              <i class="bi bi-lightning-fill"></i>
            </div>
            <h3 class="mt-2">Alerta 24 Horas</h3>
            <p class="mb-0">
              Estamos disponibles las 24 horas para cualquier emergencia o consulta.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
