<section class="pt-0">
  <div class="container-fluid" style="
      background-image: url(assets/images/preguntas.png);
      background-position: center left;
      background-size: cover;
    ">
    <div class="row">
      <div class="col-md-12 mx-auto text-center pt-7 pb-9">
        <h1 class="text-white">PREGUNTAS FRECUENTES</h1>
        <p class="lead text-white mb-0">
          En esta sección está diseñada para ofrecer a los clientes la oportunidad de aclarar sus inquietudes mediante
          la retroalimentación generado entre pregunta y respuesta.
        </p>
      </div>
    </div>
  </div>

</section>