<section class="py-0 mt-4">
  <section class="container bg-warning rounded-3 py-5 highlight-bg position-relative">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 text-center text-lg-start">
          <h1 class="fw-bold mb-4">¡Haz realidad tu viaje con Cashea!</h1>
          <p class="mb-4">Arcadia Viajes y Cashea te ofrecen opciones de financiamiento flexibles en Venezuela. Planifica tu próximo destino y paga en cómodas cuotas, con la seguridad de viajar cuando lo desees.</p>
          <button class="button-purple">Cashea tus viajes</button>
        </div>
        <div class="col-lg-6 text-center">
          <img src="assets/images/casheacasilla.png" alt="App Preview" class="img-fluid position-absolute top-0 end-0" style="height: 350px; width: 350px;">
        </div>
      </div>
    </div>
  </section>
</section>
