<section class="pb-2 pb-lg-5">
  <div class="text-center mb-5">
    <h1 class="fw-bold text-primary">
      ¡PROMOCIONES Y OFERTAS!
      <i class="fa-solid fa-bolt text-warning ms-2"></i>
    </h1>
    <p class="lead text-secondary fw-semibold">
      Descubre nuestras increíbles promociones y ofertas exclusivas para que disfrutes de tus viajes al máximo.
    </p>
  </div>
  <div class="container-fluid mx-4">
    <div class="tiny-slider arrow-round arrow-blur arrow-hover">
      <div
        class="tiny-slider-inner"
        data-autoplay="true"
        data-arrow="true"
        data-edge="2"
        data-dots="false"
        data-items-xl="3"
        data-items-lg="2"
        data-items-md="1"
      >
        <ng-tiny-slider [config]="offerSliderSettings" #offerSlider>
          <div>
            <div class="card border rounded-3 overflow-hidden">
              <div class="row g-0 align-items-center bg-primary">
                <div class="col-sm-6">
                  <img
                    src="assets/images/promo/lima_cartagena_promo.png"
                    class="card-img rounded-0"
                    alt=""
                    style="height: 100%; object-fit: cover;"
                  />
                </div>

                <div class="col-sm-6">
                  <div class="card-body px-4">
                    <h4 class="card-title text-white fw-bold">
                      <a routerLink="/offer-detail" class="stretched-link text-white text-decoration-none">
                        ¡Viaje Lima - Cartagena!
                      </a>
                    </h4>
                    <p class="text-white mt-3">
                      Aprovecha esta increíble oferta y disfruta de un viaje inolvidable de Lima a Cartagena. Reserva ahora y obtén descuentos exclusivos en tu estadía.
                    </p>
                    <a routerLink="/offer-detail" class="btn btn-warning mt-3">Ver Detalles</a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div>
            <div class="card border rounded-3 overflow-hidden">
              <div class="row g-0 align-items-center bg-primary">
                <div class="col-sm-6">
                  <img
                    src="assets/images/promo/santiago_cucuta_promo.jpg"
                    class="card-img rounded-0"
                    alt=""
                    style="height: 100%; object-fit: cover;"
                  />
                </div>

                <div class="col-sm-6">
                  <div class="card-body px-4">
                    <h4 class="card-title text-white fw-bold">
                      <a routerLink="/offer-detail" class="stretched-link text-white text-decoration-none">
                        ¡Viaje Santiago - Cúcuta!
                      </a>
                    </h4>
                    <p class="text-white mt-3">
                      Aprovecha esta increíble oferta y disfruta de un viaje inolvidable de Santiago a Cúcuta. Reserva ahora y obtén descuentos exclusivos en tu estadía.
                    </p>
                    <a routerLink="/offer-detail" class="btn btn-warning mt-3">Ver Detalles</a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div>
            <div class="card border rounded-3 overflow-hidden">
              <div class="row g-0 align-items-center bg-primary">
                <div class="col-sm-6">
                  <img
                    src="assets/images/promo/bogota_madrid_promo.png"
                    class="card-img rounded-0"
                    alt=""
                    style="height: 100%; object-fit: cover;"
                  />
                </div>

                <div class="col-sm-6">
                  <div class="card-body px-4">
                    <h4 class="card-title text-white fw-bold">
                      <a routerLink="/offer-detail" class="stretched-link text-white text-decoration-none">
                        ¡Viaje Santiago - Cúcuta!
                      </a>
                    </h4>
                    <p class="text-white mt-3">
                      Aprovecha esta increíble oferta y disfruta de un viaje inolvidable de Santiago a Cúcuta. Reserva ahora y obtén descuentos exclusivos en tu estadía.
                    </p>
                    <a routerLink="/offer-detail" class="btn btn-warning mt-3">Ver Detalles</a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div>
            <div class="card border rounded-3 overflow-hidden">
              <div class="row g-0 align-items-center bg-primary">
                <div class="col-sm-6">
                  <img
                    src="assets/images/promo/lima_cartagena_promo.png"
                    class="card-img rounded-0"
                    alt=""
                    style="height: 100%; object-fit: cover;"
                  />
                </div>

                <div class="col-sm-6">
                  <div class="card-body px-4">
                    <h4 class="card-title text-white fw-bold">
                      <a routerLink="/offer-detail" class="stretched-link text-white text-decoration-none">
                        ¡Viaje Lima - Cartagena!
                      </a>
                    </h4>
                    <p class="text-white mt-3">
                      Aprovecha esta increíble oferta y disfruta de un viaje inolvidable de Lima a Cartagena. Reserva ahora y obtén descuentos exclusivos en tu estadía.
                    </p>
                    <a routerLink="/offer-detail" class="btn btn-warning mt-3">Ver Detalles</a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div>
            <div class="card border rounded-3 overflow-hidden">
              <div class="row g-0 align-items-center bg-primary">
                <div class="col-sm-6">
                  <img
                    src="assets/images/promo/santiago_cucuta_promo.jpg"
                    class="card-img rounded-0"
                    alt=""
                    style="height: 100%; object-fit: cover;"
                  />
                </div>

                <div class="col-sm-6">
                  <div class="card-body px-4">
                    <h4 class="card-title text-white fw-bold">
                      <a routerLink="/offer-detail" class="stretched-link text-white text-decoration-none">
                        ¡Viaje Santiago - Cúcuta!
                      </a>
                    </h4>
                    <p class="text-white mt-3">
                      Aprovecha esta increíble oferta y disfruta de un viaje inolvidable de Santiago a Cúcuta. Reserva ahora y obtén descuentos exclusivos en tu estadía.
                    </p>
                    <a routerLink="/offer-detail" class="btn btn-warning mt-3">Ver Detalles</a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div>
            <div class="card border rounded-3 overflow-hidden">
              <div class="row g-0 align-items-center bg-primary">
                <div class="col-sm-6">
                  <img
                    src="assets/images/promo/bogota_madrid_promo.png"
                    class="card-img rounded-0"
                    alt=""
                    style="height: 100%; object-fit: cover;"
                  />
                </div>

                <div class="col-sm-6">
                  <div class="card-body px-4">
                    <h4 class="card-title text-white fw-bold">
                      <a routerLink="/offer-detail" class="stretched-link text-white text-decoration-none">
                        ¡Viaje Santiago - Cúcuta!
                      </a>
                    </h4>
                    <p class="text-white mt-3">
                      Aprovecha esta increíble oferta y disfruta de un viaje inolvidable de Santiago a Cúcuta. Reserva ahora y obtén descuentos exclusivos en tu estadía.
                    </p>
                    <a routerLink="/offer-detail" class="btn btn-warning mt-3">Ver Detalles</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ng-tiny-slider>
      </div>
    </div>
  </div>
</section>
