<section class="pb-2 pb-lg-5">
  <div class="container-fluid mx-4">
    <div class="tiny-slider arrow-round arrow-blur arrow-hover">
      <div
        class="tiny-slider-inner"
        data-autoplay="true"
        data-arrow="true"
        data-edge="2"
        data-dots="false"
        data-items-xl="3"
        data-items-lg="2"
        data-items-md="1"
      >
        <ng-tiny-slider [config]="offerSliderSettings" #offerSlider>
          <div>
            <div class="card border rounded-3 overflow-hidden">
              <div class="row g-0 align-items-center">
                <div class="col-sm-6">
                  <img
                    src="assets/images/promo/lima_cartagena_promo.png"
                    class="card-img rounded-0"
                    alt=""
                  />
                </div>

                <div class="col-sm-6">
                  <div class="card-body px-3">
                    <h6 class="card-title">
                      <a routerLink="/offer-detail" class="stretched-link"
                        >Daily 50 Lucky Winners get a Free Stay</a
                      >
                    </h6>
                    <p class="mb-0">Valid till: 15 Nov</p>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div>
            <div class="card border rounded-3 overflow-hidden">
              <div class="row g-0 align-items-center">
                <div class="col-sm-6">
                  <img
                    src="assets/images/promo/santiago_cucuta_promo.jpg"
                    class="card-img rounded-0"
                    alt=""
                  />
                </div>

                <div class="col-sm-6">
                  <div class="card-body px-3">
                    <h6 class="card-title">
                      <a routerLink="/offer-detail" class="stretched-link"
                        >Up to 60% OFF</a
                      >
                    </h6>
                    <p class="mb-0">On Hotel Bookings Online</p>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div>
            <div class="card border rounded-3 overflow-hidden">
              <div class="row g-0 align-items-center">
                <div class="col-sm-6">
                  <img
                    src="assets/images/promo/bogota_madrid_promo.png"
                    class="card-img rounded-0"
                    alt=""
                  />
                </div>

                <div class="col-sm-6">
                  <div class="card-body px-3">
                    <h6 class="card-title">
                      <a routerLink="/offer-detail" class="stretched-link"
                        >Book & Enjoy</a
                      >
                    </h6>
                    <p class="mb-0">20% Off on the best available room rate</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div>
            <div class="card border rounded-3 overflow-hidden">
              <div class="row g-0 align-items-center">
                <div class="col-sm-6">
                  <img
                    src="assets/images/promo/lima_cartagena_promo.png"
                    class="card-img rounded-0"
                    alt=""
                  />
                </div>

                <div class="col-sm-6">
                  <div class="card-body px-3">
                    <h6 class="card-title">
                      <a routerLink="/offer-detail" class="stretched-link"
                        >Daily 50 Lucky Winners get a Free Stay</a
                      >
                    </h6>
                    <p class="mb-0">Valid till: 15 Nov</p>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div>
            <div class="card border rounded-3 overflow-hidden">
              <div class="row g-0 align-items-center">
                <div class="col-sm-6">
                  <img
                    src="assets/images/promo/santiago_cucuta_promo.jpg"
                    class="card-img rounded-0"
                    alt=""
                  />
                </div>

                <div class="col-sm-6">
                  <div class="card-body px-3">
                    <h6 class="card-title">
                      <a routerLink="/offer-detail" class="stretched-link"
                        >Up to 60% OFF</a
                      >
                    </h6>
                    <p class="mb-0">On Hotel Bookings Online</p>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div>
            <div class="card border rounded-3 overflow-hidden">
              <div class="row g-0 align-items-center">
                <div class="col-sm-6">
                  <img
                    src="assets/images/promo/bogota_madrid_promo.png"
                    class="card-img rounded-0"
                    alt=""
                  />
                </div>

                <div class="col-sm-6">
                  <div class="card-body px-3">
                    <h6 class="card-title">
                      <a routerLink="/offer-detail" class="stretched-link"
                        >Book & Enjoy</a
                      >
                    </h6>
                    <p class="mb-0">20% Off on the best available room rate</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ng-tiny-slider>
      </div>
    </div>
  </div>
</section>
