<div class="float-buttons">
  <a target="_blank" class="float-button">
    <div class="dropdown" ngbDropdown>
      <button class="float-button primary" id="dropdownMenu" ngbDropdownToggle>
        <i class="bi bi-whatsapp"></i>
      </button>
      <ul class="dropdown-menu scrollable-dropdown" aria-labelledby="dropdownMenu" ngbDropdownMenu>
        <li class="pb-2">
          <a href="https://wa.me/+584244097684" target="_blank" class="dropdown-item whatsapp">
            <i class="bi bi-whatsapp"></i> Valencia 🇻🇪
          </a>
        </li>
        <li class="pb-2">
          <a href="https://wa.me/+584241542685" target="_blank" class="dropdown-item whatsapp">
            <i class="bi bi-whatsapp"></i> Caracas 🇻🇪
          </a>
        </li>
        <li class="pb-2">
          <a href="https://wa.me/+584245239195" target="_blank" class="dropdown-item whatsapp">
            <i class="bi bi-whatsapp"></i> Barquisimeto 🇻🇪
          </a>
        </li>
        <li class="pb-2">
          <a href="https://wa.me/+56961414833" target="_blank" class="dropdown-item whatsapp">
            <i class="bi bi-whatsapp"></i> Santiago 🇨🇱
          </a>
        </li>
        <li class="pb-2">
          <a href="https://wa.me/+34655204586" target="_blank" class="dropdown-item whatsapp">
            <i class="bi bi-whatsapp"></i> Madrid 🇪🇸
          </a>
        </li>
        <li class="pb-2">
          <a href="https://wa.me/+34655205035" target="_blank" class="dropdown-item whatsapp">
            <i class="bi bi-whatsapp"></i> Barcelona 🇪🇸
          </a>
        </li>
        <li class="pb-2">
          <a href="https://wa.me/+51981255261" target="_blank" class="dropdown-item whatsapp">
            <i class="bi bi-whatsapp"></i> Lima 🇵🇪
          </a>
        </li>
        <li class="pb-2">
          <a href="https://wa.me/+573138897876" target="_blank" class="dropdown-item whatsapp">
            <i class="bi bi-whatsapp"></i> Bogotá 🇨🇴
          </a>
        </li>
        <li class="pb-2">
          <a href="https://wa.me/+573233932626" target="_blank" class="dropdown-item whatsapp">
            <i class="bi bi-whatsapp"></i> Medellín 🇨🇴
          </a>
        </li>
        <li class="pb-2">
          <a href="https://wa.me/+541178543970" target="_blank" class="dropdown-item whatsapp">
            <i class="bi bi-whatsapp"></i> Buenos Aires 🇦🇷
          </a>
        </li>
        <li class="pb-2">
          <a href="https://wa.me/+593962318390" target="_blank" class="dropdown-item whatsapp">
            <i class="bi bi-whatsapp"></i> Quito 🇪🇨
          </a>
        </li>
        <li class="pb-2">
          <a href="https://wa.me/+50767003135" target="_blank" class="dropdown-item whatsapp">
            <i class="bi bi-whatsapp"></i> Panamá 🇵🇦
          </a>
        </li>
      </ul>
    </div>
  </a>
  <a target="_blank" class="float-button">
    <div class="dropdown" ngbDropdown>
      <button class="float-button instagram" id="dropdownMenu" ngbDropdownToggle>
        <i class="bi bi-instagram"></i>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenu" ngbDropdownMenu>
        <li class="pb-2">
          <a href="https://www.instagram.com/arcadiaviajes/" target="_blank" class="dropdown-item whatsapp">
            <i class="bi bi-instagram"></i> arcadiaviajes 🇻🇪
          </a>
        </li>
        <li class="pb-2">
          <a href="https://www.instagram.com/arcadiaviajes.es/" target="_blank" class="dropdown-item whatsapp">
            <i class="bi bi-instagram"></i> arcadiaviajes.es 🇪🇸
          </a>
        </li>
        <li class="pb-2">
          <a href="https://www.instagram.com/arcadiaviajes.co/" target="_blank" class="dropdown-item whatsapp">
            <i class="bi bi-instagram"></i> arcadiaviajes.co 🇨🇴
          </a>
        </li>
        <li class="pb-2">
          <a href="https://www.instagram.com/arcadiaviajes.arg/" target="_blank" class="dropdown-item whatsapp">
            <i class="bi bi-instagram"></i> arcadiaviajes.arg 🇦🇷
          </a>
        </li>
        <li class="pb-2">
          <a href="https://www.instagram.com/arcadiaviajes.usa/" target="_blank" class="dropdown-item whatsapp">
            <i class="bi bi-instagram"></i> arcadiaviajes.usa 🇺🇸
          </a>
        </li>
        <li class="pb-2">
          <a href="https://www.instagram.com/arcadiaviajes.pa/" target="_blank" class="dropdown-item whatsapp">
            <i class="bi bi-instagram"></i> arcadiaviajes.pa 🇵🇦
          </a>
        </li>
        <li class="pb-2">
          <a href="https://www.instagram.com/arcadiaviajes.pe/" target="_blank" class="dropdown-item whatsapp">
            <i class="bi bi-instagram"></i> arcadiaviajes.pe 🇵🇪
          </a>
        </li>
        <li class="pb-2">
          <a href="https://www.instagram.com/arcadiaviajes.cl/" target="_blank" class="dropdown-item whatsapp">
            <i class="bi bi-instagram"></i> arcadiaviajes.cl 🇨🇱
          </a>
        </li>
        <li class="pb-2">
          <a href="https://www.instagram.com/arcadiaviajes.ec/" target="_blank" class="dropdown-item whatsapp">
            <i class="bi bi-instagram"></i> arcadiaviajes.ec 🇪🇨
          </a>
        </li>
      </ul>
    </div>
  </a>
</div>