<div class="float-buttons">
  <a target="_blank" class="float-button">
    <div class="dropdown" ngbDropdown>
      <button class="float-button primary" id="dropdownMenu" ngbDropdownToggle>
        <i class="bi bi-whatsapp"></i>
      </button>
      <ul class="dropdown-menu scrollable-dropdown" style="width: 300px;" aria-labelledby="dropdownMenu" ngbDropdownMenu>
        <li class="pb-2 justify-content-between">
          <a href="https://wa.me/+541178543970" target="_blank" class="dropdown-item whatsapp d-flex justify-content-between">
            <span><i class="bi bi-whatsapp"></i> Buenos Aires 🇦🇷</span>
            <img src="assets/images/logosArcadia/argentina.jpg" alt="Argentina" style="height: 16px; margin-left: 5px; border-radius: 50%;" />
          </a>
        </li>
        <li class="pb-2 justify-content-between">
          <a href="https://wa.me/+584241542685" target="_blank" class="dropdown-item whatsapp d-flex justify-content-between">
            <span><i class="bi bi-whatsapp"></i> Caracas 🇻🇪</span>
            <img src="assets/images/logosArcadia/venezuela.jpg" alt="Venezuela" style="height: 16px; margin-left: 5px; border-radius: 50%;" />
          </a>
        </li>
        <li class="pb-2 justify-content-between">
          <a href="https://wa.me/+584245239195" target="_blank" class="dropdown-item whatsapp d-flex justify-content-between">
            <span><i class="bi bi-whatsapp"></i> Barquisimeto 🇻🇪</span>
            <img src="assets/images/logosArcadia/venezuela.jpg" alt="Venezuela" style="height: 16px; margin-left: 5px; border-radius: 50%;" />
          </a>
        </li>
        <li class="pb-2 justify-content-between">
          <a href="https://wa.me/+573138897876" target="_blank" class="dropdown-item whatsapp d-flex justify-content-between">
            <span><i class="bi bi-whatsapp"></i> Bogotá 🇨🇴</span>
            <img src="assets/images/logosArcadia/colombia.jpg" alt="Colombia" style="height: 16px; margin-left: 5px; border-radius: 50%;" />
          </a>
        </li>
        <li class="pb-2 justify-content-between">
          <a href="https://wa.me/+34655205035" target="_blank" class="dropdown-item whatsapp d-flex justify-content-between">
            <span><i class="bi bi-whatsapp"></i> Barcelona 🇪🇸</span>
            <img src="assets/images/logosArcadia/spain.jpg" alt="España" style="height: 16px; margin-left: 5px; border-radius: 50%;" />
          </a>
        </li>
        <li class="pb-2 justify-content-between">
          <a href="https://wa.me/+34655204586" target="_blank" class="dropdown-item whatsapp d-flex justify-content-between">
            <span><i class="bi bi-whatsapp"></i> Madrid 🇪🇸</span>
            <img src="assets/images/logosArcadia/spain.jpg" alt="España" style="height: 16px; margin-left: 5px; border-radius: 50%;" />
          </a>
        </li>
        <li class="pb-2 justify-content-between">
          <a href="https://wa.me/+573233932626" target="_blank" class="dropdown-item whatsapp d-flex justify-content-between">
            <span><i class="bi bi-whatsapp"></i> Medellín 🇨🇴</span>
            <img src="assets/images/logosArcadia/colombia.jpg" alt="Colombia" style="height: 16px; margin-left: 5px; border-radius: 50%;" />
          </a>
        </li>
        <li class="pb-2 justify-content-between">
          <a href="https://wa.me/+51981255261" target="_blank" class="dropdown-item whatsapp d-flex justify-content-between">
            <span><i class="bi bi-whatsapp"></i> Lima 🇵🇪</span>
            <img src="assets/images/logosArcadia/peru.jpg" alt="Perú" style="height: 16px; margin-left: 5px; border-radius: 50%;" />
          </a>
        </li>
        <li class="pb-2 justify-content-between">
          <a href="https://wa.me/+50767003135" target="_blank" class="dropdown-item whatsapp d-flex justify-content-between">
            <span><i class="bi bi-whatsapp"></i> Panamá 🇵🇦</span>
            <img src="assets/images/logosArcadia/panama.jpg" alt="Panamá" style="height: 16px; margin-left: 5px; border-radius: 50%;" />
          </a>
        </li>
        <li class="pb-2 justify-content-between">
          <a href="https://wa.me/+593962318390" target="_blank" class="dropdown-item whatsapp d-flex justify-content-between">
            <span><i class="bi bi-whatsapp"></i> Quito 🇪🇨</span>
            <img src="assets/images/logosArcadia/ecuador.jpg" alt="Ecuador" style="height: 16px; margin-left: 5px; border-radius: 50%;" />
          </a>
        </li>
        <li class="pb-2 justify-content-between">
          <a href="https://wa.me/+56961414833" target="_blank" class="dropdown-item whatsapp d-flex justify-content-between">
            <span><i class="bi bi-whatsapp"></i> Santiago 🇨🇱</span>
            <img src="assets/images/logosArcadia/chile.jpg" alt="Chile" style="height: 16px; margin-left: 5px; border-radius: 50%;" />
          </a>
        </li>
        <li class="pb-2 justify-content-between">
          <a href="https://wa.me/+584244097684" target="_blank" class="dropdown-item whatsapp d-flex justify-content-between">
            <span><i class="bi bi-whatsapp"></i> Valencia 🇻🇪</span>
            <img src="assets/images/logosArcadia/venezuela.jpg" alt="Venezuela" style="height: 16px; margin-left: 5px; border-radius: 50%;" />
          </a>
        </li>
      </ul>
    </div>
  </a>
  <a target="_blank" class="float-button">
    <div class="dropdown" ngbDropdown>
      <button class="float-button instagram" id="dropdownMenu" ngbDropdownToggle>
        <i class="bi bi-instagram"></i>
      </button>
      <ul class="dropdown-menu" style="width: 300px;" aria-labelledby="dropdownMenu" ngbDropdownMenu>
        <li class="pb-2 justify-content-between">
          <a href="https://www.instagram.com/arcadia.viajes/" target="_blank" class="dropdown-item whatsapp d-flex justify-content-between">
            <span><i class="bi bi-instagram"></i> arcadiaviajes 🇻🇪</span>
            <img src="assets/images/logosArcadia/venezuela.jpg" alt="Venezuela" style="height: 16px; margin-left: 5px; border-radius: 50%;" />
          </a>
        </li>
        <li class="pb-2 justify-content-between">
          <a href="https://www.instagram.com/arcadiaviajes.arg/" target="_blank" class="dropdown-item whatsapp d-flex justify-content-between">
            <span><i class="bi bi-instagram"></i> arcadiaviajes.arg 🇦🇷</span>
            <img src="assets/images/logosArcadia/argentina.jpg" alt="Argentina" style="height: 16px; margin-left: 5px; border-radius: 50%;" />
          </a>
        </li>
        <li class="pb-2 justify-content-between">
          <a href="https://www.instagram.com/arcadiaviajes.es/" target="_blank" class="dropdown-item whatsapp d-flex justify-content-between">
            <span><i class="bi bi-instagram"></i> arcadiaviajes.es 🇪🇸</span>
            <img src="assets/images/logosArcadia/spain.jpg" alt="España" style="height: 16px; margin-left: 5px; border-radius: 50%;" />
          </a>
        </li>
        <li class="pb-2 justify-content-between">
          <a href="https://www.instagram.com/arcadiaviajes.co/" target="_blank" class="dropdown-item whatsapp d-flex justify-content-between">
            <span><i class="bi bi-instagram"></i> arcadiaviajes.co 🇨🇴</span>
            <img src="assets/images/logosArcadia/colombia.jpg" alt="Colombia" style="height: 16px; margin-left: 5px; border-radius: 50%;" />
          </a>
        </li>
        <li class="pb-2 justify-content-between">
          <a href="https://www.instagram.com/arcadiaviajes.cl/" target="_blank" class="dropdown-item whatsapp d-flex justify-content-between">
            <span><i class="bi bi-instagram"></i> arcadiaviajes.cl 🇨🇱</span>
            <img src="assets/images/logosArcadia/chile.jpg" alt="Chile" style="height: 16px; margin-left: 5px; border-radius: 50%;" />
          </a>
        </li>
        <li class="pb-2 justify-content-between">
          <a href="https://www.instagram.com/arcadiaviajes.ec/" target="_blank" class="dropdown-item whatsapp d-flex justify-content-between">
            <span><i class="bi bi-instagram"></i> arcadiaviajes.ec 🇪🇨</span>
            <img src="assets/images/logosArcadia/ecuador.jpg" alt="Ecuador" style="height: 16px; margin-left: 5px; border-radius: 50%;" />
          </a>
        </li>
        <li class="pb-2 justify-content-between">
          <a href="https://www.instagram.com/arcadiaviajes.pa/" target="_blank" class="dropdown-item whatsapp d-flex justify-content-between">
            <span><i class="bi bi-instagram"></i> arcadiaviajes.pa 🇵🇦</span>
            <img src="assets/images/logosArcadia/panama.jpg" alt="Panamá" style="height: 16px; margin-left: 5px; border-radius: 50%;" />
          </a>
        </li>
        <li class="pb-2 justify-content-between">
          <a href="https://www.instagram.com/arcadiaviajes.pe/" target="_blank" class="dropdown-item whatsapp d-flex justify-content-between">
            <span><i class="bi bi-instagram"></i> arcadiaviajes.pe 🇵🇪</span>
            <img src="assets/images/logosArcadia/peru.jpg" alt="Perú" style="height: 16px; margin-left: 5px; border-radius: 50%;" />
          </a>
        </li>
      </ul>
    </div>
  </a>
</div>
