.float-buttons {
  position: fixed;
  bottom: 87px !important;
  right: 22px !important;
  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: 1000;

  @media (max-width: 768px) {
    display: none; // Ocultar en dispositivos móviles
  }
}

.float-button {
  width: 50px;
  height: 50px;
  background-color: #25d366; // Color de fondo para WhatsApp
  color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s;

  &:hover {
    background-color: #128c7e; // Color de fondo al pasar el mouse
  }

  i {
    font-size: 24px;
  }
}

.float-buttons {
  position: fixed;
  bottom: 35px;
  right: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.float-button {
  background-color: #25d366;
  color: white;
  border: none;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  font-size: 15px;

  &:hover {
    background-color: #128c7e; // Color de fondo al pasar el mouse
  }
}

.float-button .instagram {
  background-color: #c30d59;
  color: white;
  border: none;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  font-size: 15px;

  &:hover {
    background-color: #6f0466; // Color de fondo al pasar el mouse
  }
}

.dropdown-menu {
  min-width: 200px;
  max-height: 440px; /* Ajusta la altura máxima según necesites */
  overflow-y: auto; /* Habilita el scroll vertical */
}

.whatsapp {
  display: flex;
  align-items: center;
  gap: 10px;

}
