<div class="card border">
  <div class="card-body p-4 pb-0">
    <div class="row g-4">
      <div class="col-md-3">
        <img src="assets/images/element/09.svg" class="w-80px mb-3" alt="" />

        <h6 class="fw-normal mb-0">Phillippines Airline</h6>
        <h6 class="fw-normal mb-0">PA - 5620</h6>
      </div>

      <div class="col-sm-4 col-md-3">
        <h4>14:50</h4>
        <h6 class="mb-0">Sun, 29 Jan {{ currentYear }}</h6>
        <p class="mb-0">BOM - Terminal 2 Mumbai, India</p>
      </div>

      <div class="col-sm-4 col-md-3">
        <h4>07:35</h4>
        <h6 class="mb-0">Sun, 30 Jan {{ currentYear }}</h6>
        <p class="mb-0">JFK - Terminal 2 New York, USA</p>
      </div>

      <div class="col-sm-4 col-md-3">
        <h4>{{ currencyType }}18,500</h4>
        <a routerLink="/flights/detail" class="btn btn-dark">Book Now</a>
        <button
          class="btn btn-link text-decoration-underline p-0 mb-0 ms-1"
          (click)="open()"
          data-bs-toggle="modal"
          data-bs-target="#flightdetail"
        >
          <i class="bi bi-eye-fill me-1"></i>Flight Details
        </button>
      </div>
    </div>
  </div>

  <div class="card-footer p-4">
    <div class="bg-light p-2 rounded-2">
      <ul class="list-inline d-sm-flex justify-content-sm-between mb-0 mx-4">
        <li class="list-inline-item text-danger">Only 10 Seat Left</li>
        <li class="list-inline-item">Total time: 10h 35m</li>
        <li class="list-inline-item text-success">Refundable</li>
      </ul>
    </div>
  </div>
</div>
