<div class="card border bg-transparent">
  <div class="card-header bg-transparent border-bottom">
    <h4 class="card-header-title">Mis Seguros</h4>
  </div>

  <div class="card-body p-0">
    <ul
      [destroyOnHide]="false"
      (navChange)="changeTab($event)"
      ngbNav
      #nav="ngbNav"
      class="nav nav-tabs nav-bottom-line nav-responsive nav-justified"
    >
      <li class="nav-item" ngbNavItem domId="1">
        <a class="nav-link mb-0" ngbNavLink data-bs-toggle="tab" href="#tab-1"
          ><i class="bi bi-postcard-heart fa-fw me-1"></i>Seguros proximos</a
        >
        <ng-template ngbNavContent>
          <div class="tab-pane fade show active" id="tab-1">
            <div *ngIf="isLoading" class="text-center">
              <div class="spinner-border text-primary" role="status">
                <span class="visually-hidden">Loading...</span>
              </div>
            </div>

            <div
              *ngIf="!isLoading && wishListCards.length === 0"
              class="text-center mt-4"
            >
              <p>No hay seguros encontrados</p>
            </div>
            <div *ngFor="let item of wishListCards">
              <div *ngFor="let item2 of item.insurances">
                <div class="card shadow p-2 mb-3">
                  <div class="row g-0">
                    <div class="col-md-3">
                      <img
                        src="./assets/images/interwelt.png"
                        class="card-img rounded-2"
                        alt="Card image"
                      />
                    </div>
                    <div class="col-md-9">
                      <div class="card-body py-md-2 d-flex flex-column h-100">
                        <h5 class="card-title mb-1">
                          <a routerLink="{{ item2.link?.name }}">{{
                            item2.name
                          }}</a>
                        </h5>
                        <div class="d-flex justify-content-between">
                          <div class="mt-2">
                            <strong>Localizador:</strong> {{ item2.locator }}
                          </div>
                          <div class="mt-2">
                            <strong>Proveedor:</strong>
                            {{ item2?.providerSystem?.name }}
                          </div>
                          <div class="mt-2">
                            <strong>Tipo de Seguro:</strong>
                            {{ item2.typeInsurance.name }}
                          </div>
                          <div class="mt-2">
                            <strong>Start Date:</strong>
                            {{ item2.dateStart | date: 'dd/MM/yyyy' }}
                          </div>
                          <div class="mt-2">
                            <strong>Uso: </strong>
                            {{ item2.country.name }}
                          </div>
                        </div>

                        <!-- <small><i class="bi bi-geo-alt me-2"></i>{{ item2.locator }}</small> -->

                        <div
                          class="d-sm-flex justify-content-sm-between align-items-center mt-5 mt-md-auto"
                        >
                          <div class="d-flex align-items-center">
                            <strong>Orden: #</strong>
                            <h5 class="fw-bold mb-0 me-1">
                              {{ item2.orderId }}
                            </h5>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div
            class="card-footer pt-0"
            *ngIf="!isLoading && wishListCards.length > 0"
          >
            <div
              class="d-sm-flex justify-content-sm-between align-items-sm-center"
            >
              <p class="mb-sm-0 text-center text-sm-start">
                Mostrar 1 a {{ wishListCards.length }} de
                {{ wishListCards.length }} Total
              </p>

              <nav
                class="mb-sm-0 d-flex justify-content-center"
                aria-label="navigation"
              >
                <ngb-pagination
                  [collectionSize]="totalItems"
                  [(page)]="page"
                  [pageSize]="limit"
                  (pageChange)="onPageChange($event)"
                  class="pagination pagination-primary-soft d-inline-block d-md-flex rounded mb-0"
                >
                  <ng-template ngbPaginationPrevious>Atras </ng-template>
                  <ng-template ngbPaginationNext>Siguiente </ng-template>
                </ngb-pagination>
              </nav>
            </div>
          </div>
        </ng-template>
      </li>

      <li class="nav-item" ngbNavItem domId="2">
        <a class="nav-link mb-0" ngbNavLink data-bs-toggle="tab" href="#tab-1"
          ><i class="bi bi-postcard-heart fa-fw me-1"></i>Seguros proximos
          financiados</a
        >
        <ng-template ngbNavContent>
          <div class="tab-pane fade show active" id="tab-1">
            <div *ngIf="isLoading" class="text-center">
              <div class="spinner-border text-primary" role="status">
                <span class="visually-hidden">Loading...</span>
              </div>
            </div>

            <div
              *ngIf="!isLoading && wishListCards.length === 0"
              class="text-center mt-4"
            >
              <p>No hay seguros encontrados</p>
            </div>
            <div *ngFor="let item of wishListCards">
              <div *ngFor="let item2 of item.insurances">
                <div class="card shadow p-2 mb-3">
                  <div class="row g-0">
                    <div class="col-md-3">
                      <img
                        src="./assets/images/interwelt.png"
                        class="card-img rounded-2"
                        alt="Card image"
                      />
                    </div>
                    <div class="col-md-9">
                      <div class="card-body py-md-2 d-flex flex-column h-100">
                        <h5 class="card-title mb-1">
                          <a routerLink="{{ item2.link?.name }}">{{
                            item2.name
                          }}</a>
                        </h5>
                        <div class="d-flex justify-content-between">
                          <div class="mt-2">
                            <strong>Localizador:</strong> {{ item2.locator }}
                          </div>
                          <div class="mt-2">
                            <strong>Proveedor:</strong>
                            {{ item2?.providerSystem?.name }}
                          </div>
                          <div class="mt-2">
                            <strong>Tipo de Seguro:</strong>
                            {{ item2.typeInsurance.name }}
                          </div>
                          <div class="mt-2">
                            <strong>Start Date:</strong>
                            {{ item2.dateStart | date: 'dd/MM/yyyy' }}
                          </div>
                          <div class="mt-2">
                            <strong>Uso: </strong>
                            {{ item2.country.name }}
                          </div>
                        </div>

                        <!-- <small><i class="bi bi-geo-alt me-2"></i>{{ item2.locator }}</small> -->

                        <div
                          class="d-sm-flex justify-content-sm-between align-items-center mt-5 mt-md-auto"
                        >
                          <div class="d-flex align-items-center">
                            <strong>Orden: #</strong>
                            <h5 class="fw-bold mb-0 me-1">
                              {{ item2.orderId }}
                            </h5>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div
            class="card-footer pt-0"
            *ngIf="!isLoading && wishListCards.length > 0"
          >
            <div
              class="d-sm-flex justify-content-sm-between align-items-sm-center"
            >
              <p class="mb-sm-0 text-center text-sm-start">
                Mostrar 1 a {{ wishListCards.length }} de
                {{ wishListCards.length }} Total
              </p>

              <nav
                class="mb-sm-0 d-flex justify-content-center"
                aria-label="navigation"
              >
                <ngb-pagination
                  [collectionSize]="totalItems"
                  [(page)]="page"
                  [pageSize]="limit"
                  (pageChange)="onPageChange($event)"
                  class="pagination pagination-primary-soft d-inline-block d-md-flex rounded mb-0"
                >
                  <ng-template ngbPaginationPrevious>Atras </ng-template>
                  <ng-template ngbPaginationNext>Siguiente </ng-template>
                </ngb-pagination>
              </nav>
            </div>
          </div>
        </ng-template>
      </li>

      <!-- Other tabs... -->
    </ul>

    <div
      class="tab-content p-2 p-sm-4"
      [ngbNavOutlet]="nav"
      id="nav-tabContent"
    ></div>
  </div>
</div>

<!-- Modal content -->
