<div class="row g-4 g-xl-5 mb-5">
  <div class="col-md-6 col-lg-4" style="max-width: auto;">
    <div class="bg-light p-4 rounded text-center">
      <h6 class="fw-normal">Clientes</h6>
      <div class="d-flex align-items-center justify-content-center">
        <h2 class="mb-0 me-2">{{ agent?.customersServed || 0 }}</h2>
        <div class="badge bg-success bg-opacity-10 text-success">
          0% <i class="bi bi-graph-up"></i>
        </div>
      </div>
      <p class="text-dark mb-0">Total de clientes atendidos</p>
    </div>
  </div>

  <div class="col-md-6 col-lg-4" style="max-width: auto;">
    <div class="bg-light p-4 rounded text-center">
      <h6 class="fw-normal">Clasificación</h6>
      <div class="d-flex align-items-center justify-content-center">
        <h2 class="mb-0 me-2">{{ agent?.rating || 0 }}</h2>
        <ul class="list-inline mb-0">
          <li class="list-inline-item me-1" *ngFor="let star of [1, 2, 3, 4, 5]; let i = index">
            <i class="fa-solid fa-star"
              [ngClass]="{'text-primary': i < agent?.rating, 'text-danger': i >= agent?.rating}"></i>
          </li>
        </ul>
      </div>
      <p class="mb-0 text-dark">Clasificación por clientes</p>
    </div>
  </div>

  <div class="col-lg-4" style="max-width: auto;">
    <div class="bg-light p-4 rounded text-center">
      <h6 class="fw-normal">Ventas</h6>
      <div class="d-flex align-items-center justify-content-center">
        <h2 class="mb-0 me-2">{{ totalSales }}</h2>
        <div class="badge bg-success bg-opacity-10 text-success">
          0% <i class="bi bi-graph-up"></i>
        </div>
      </div>
      <p class="mb-0 text-dark">Total de Ventas Concretadas</p>
    </div>
  </div>
</div>

<!-- ---------------------------------------------------------------------------------------------------- -->

<div class="row g-4 g-xl-5 mb-5">
  <div class="col-md-6 col-lg-2" style="max-width: auto;">
    <div class="bg-light p-4 rounded text-center">
      <h6 class="fw-normal">Vuelos</h6>
      <div class="d-flex align-items-center justify-content-center">
        <h3 class="mb-0 me-2">{{ agent?.serviceCounts?.flights || 0 }}</h3>
      </div>
      <p class="mb-0 text-dark">Total</p>
    </div>
  </div>
  <div class="col-md-6 col-lg-2" style="max-width: auto;">
    <div class="bg-light p-4 rounded text-center">
      <h6 class="fw-normal">Hoteles</h6>
      <div class="d-flex align-items-center justify-content-center">
        <h3 class="mb-0 me-2">{{ agent?.serviceCounts?.hotels || 0 }}</h3>
      </div>
      <p class="mb-0 text-dark">Total</p>
    </div>
  </div>
  <div class="col-md-6 col-lg-2" style="max-width: auto;">
    <div class="bg-light p-4 rounded text-center">
      <h6 class="fw-normal">Seguros</h6>
      <div class="d-flex align-items-center justify-content-center">
        <h3 class="mb-0 me-2">{{ agent?.serviceCounts?.insurance || 0 }}</h3>
      </div>
      <p class="mb-0 text-dark">Total</p>
    </div>
  </div>
  <div class="col-md-6 col-lg-2" style="max-width: auto;">
    <div class="bg-light p-4 rounded text-center">
      <h6 class="fw-normal">S. Especiales</h6>
      <div class="d-flex align-items-center justify-content-center">
        <h3 class="mb-0 me-2">{{ agent?.serviceCounts?.specialServices || 0 }}</h3>
      </div>
      <p class="mb-0 text-dark">Total</p>
    </div>
  </div>
  <div class="col-md-6 col-lg-2" style=" max-width: auto;">
    <div class="bg-light p-4 rounded text-center">
      <h6 class="fw-normal">Traslados</h6>
      <div class="d-flex align-items-center justify-content-center">
        <h3 class="mb-0 me-2">{{ agent?.serviceCounts?.transfers || 0 }}</h3>
      </div>
      <p class="mb-0 text-dark">Total</p>
    </div>
  </div>
  <div class="col-md-6 col-lg-2" style="max-width: auto;">
    <div class="bg-light p-4 rounded text-center">
      <h6 class="fw-normal">Excursiones</h6>
      <div class="d-flex align-items-center justify-content-center">
        <h3 class="mb-0 me-2">{{ agent?.serviceCounts?.excursions || 0 }}</h3>
      </div>
      <p class="mb-0 text-dark">Total</p>
    </div>
  </div>
</div>