<section class="pt-0">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="card card-body bg-primary justify-content-center text-center px-4 px-sm-5 pt-6 pt-md-8 pb-8" style="
            background-image: url(assets/images/element/bg-pattern.png);
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
          ">
          <h1 class="fs-2 text-white mb-4">¿Como Podemos Ayudarte?</h1>
          <form class="col-md-6 bg-body rounded mx-auto p-2 mb-3">
            <div class="input-group">
              <input class="form-control border-0 me-1" type="text" formControlName="searchtxt"
                placeholder="Hacer una Pregunta..." />
              <button type="button" class="btn btn-dark rounded mb-0">
                buscar
              </button>
            </div>
          </form>

          <div class="row align-items-center mt-4 mb-2">
            <div class="col-md-9 mx-auto">
              <h6 class="text-white mb-3">Las preguntas mas frecuentes en Arcadia</h6>
              <div class="list-group hstack gap-3 justify-content-center flex-wrap mb-0">
                <a class="btn btn-link text-white fw-light text-decoration-underline p-0 mb-0"
                  routerLink="/help/detail">
                  ¿Venden boletos de avion para cualquier lucar?</a>
                <a class="btn btn-link text-white fw-light text-decoration-underline p-0 mb-0"
                  routerLink="/help/detail">
                  ¿Donde puedo ver mi itinerario de vuelo?
                </a>
                <a class="btn btn-link text-white fw-light text-decoration-underline p-0 mb-0"
                  routerLink="/help/detail">
                  ¿Ofrecen Financiamiento?
                </a>
                <a class="btn btn-link text-white fw-light text-decoration-underline p-0 mb-0"
                  routerLink="/help/detail">
                  ¿Ofrecen Reembolso?
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row g-4 mt-n8">
      <div class="col-10 col-lg-11 col-xl-10 mx-auto">
        <div class="row g-4">
          @for (data of helpServicesList; track $index) {
          <div class="col-lg-4">
            <div class="card shadow h-100">
              <div class="card-header d-flex align-items-center pb-0">
                <i class="{{ data.icon }} fs-2 {{ data.variant }} me-2"></i>
                <h5 class="card-title mb-0">{{ data.title }}</h5>
              </div>

              <div class="card-body pt-0">
                <ul class="nav flex-column">
                  @for (service of data.services; track $index) {
                  <li class="nav-item">
                    <a class="nav-link d-flex" routerLink="/help/detail"><i
                        class="fa-solid fa-angle-right text-primary pt-1 me-2"></i>{{ service }}</a>
                  </li>
                  }
                </ul>
              </div>
            </div>
          </div>
          }
        </div>
      </div>
    </div>
  </div>
</section>


<section class="pt-0 pt-lg-5">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center mb-4">
        <h2 class="mb-0">Preguntas Frecuentes</h2>
      </div>
    </div>

    <div class="row">
      <div class="col-10 mx-auto">
        <div ngbAccordion [closeOthers]="true" class="accordion accordion-icon accordion-bg-light"
          id="accordionExample2">
          @for (item of faqList; track $index; let first = $first) {
          <div ngbAccordionItem [collapsed]="first ? false : true" class="accordion-item mb-3">
            <h6 ngbAccordionHeader class="accordion-header font-base" id="heading-1">
              <button ngbAccordionButton class="accordion-button fw-bold rounded d-inline-block collapsed" type="button"
                data-bs-toggle="collapse" data-bs-target="#collapse-1" aria-expanded="true" aria-controls="collapse-1">
                {{ item.title }}
              </button>
            </h6>
            <div ngbAccordionCollapse id="collapse-1" class="accordion-collapse collapse show"
              aria-labelledby="heading-1" data-bs-parent="#accordionExample2">
              <div ngbAccordionBody class="accordion-body mt-3">
                {{ item.description }}
              </div>
            </div>
          </div>
          }
        </div>
      </div>
    </div>
  </div>
</section>


<section class="container" id="terminos">
  <div class="row">
    <div class="card border bg-transparent p-0">
      <div class="card-header bg-transparent border-bottom p-4">
        <h5 class="mb-0">Terminos y Condiciones</h5>
      </div>

      <div class="card-body p-4 pt-0">
        <div class="mt-4">
          <h6 class="fw-normal">Información sobre Protección de Datos</h6>
          <p class="mb-0">
            El responsable del fichero Arcadia Viajes Inolvidables, S.R.L, usará esta información para responder a las
            solicitudes de contacto.
          </p>
          <p>
            Te informamos que el responsable del tratamiento de los datos de carácter personal que nos proporciones
            rellenando el presente formulario será en España La finalidad de la recogida de datos es el envío de
            comunicaciones electrónicas de interés, promociones de nuestros productos y servicios y noticias
            relacionadas
            con el sector turístico. Al marcar la casilla de aceptación estás dando tu legítimo consentimiento para que
            tus datos sean tratados conforme a la política de privacidad de la página web. Como usuario e interesado te
            informamos que los datos que nos facilitas estarán ubicados en un fichero personal de C/ ALCALÁ, 22 – 2º
            Puerta DR, 22014 Madrid, y en los servidores de https://www.arcadia-viajes.com como proveedor de servicios
            de
            email marketing. Puedes consultar la política de privacidad de Arcadia Viajes Inolvidables, S.R.L en
            https://www.arcadia-viajes.com En el caso de que no introduzcas datos de carácter personal que aparezcan en
            el
            formulario como obligatorios, es posible que no se pueda atender tu solicitud. Podrás ejercitar tus derechos
            de acceso, rectificación, cancelación y oposición a través de la siguiente dirección: C/ ALCALÁ, 22 – 2º
            Puerta DR, 22014 Madrid
          </p>
        </div>

        <div class="mt-4">
          <h6 class="fw-normal">Política de Privacidad</h6>
          <p class="mb-0">
            La Dirección / Órgano de Gobierno de España (en adelante Arcadia Viajes Inolvidables, S.R.L, el responsable
            del tratamiento), asume la máxima responsabilidad y compromiso con el establecimiento, implementación y
            mantenimiento de la presente Política de Protección de Datos, garantizando la mejora continua del
            responsable
            del tratamiento con el objetivo de alcanzar la excelencia en relación con el cumplimiento del Reglamento
            (UE)
            2016/679 del Parlamento Europeo y del Consejo, de 27 de abril de 2016, relativo a la protección de las
            personas físicas en lo que respecta al tratamiento de datos personales y a la libre circulación de estos
            datos
            y por el que se deroga la Directiva 95/46/CE (Reglamento general de protección de datos) (DOUE L 119/1,
            04-05-2016), y de la normativa española de protección de datos de carácter personal (Ley Orgánica,
            legislación
            sectorial específica y sus normas de desarrollo).
          </p>
          <p><br>
            La Política de Protección de Datos de Arcadia Viajes Inolvidables, S.R.L, descansa en el principio de
            responsabilidad proactiva, según el cual el responsable del tratamiento es responsable del cumplimiento del
            marco normativo y jurisprudencial que gobierna dicha Política, y es capaz de demostrarlo ante las
            autoridades
            de control competentes.</p>
          <p>
            En tal sentido, el responsable del tratamiento se regirá por los siguientes principios que deben servir a
            todo
            su personal como guía y marco de referencia en el tratamiento de datos personales:
          </p>
          <ul>
            <li>
              <p> Protección de datos desde el diseño: el responsable del tratamiento aplicará, tanto en el momento de
                determinar los medios de tratamiento como en el momento del propio tratamiento, medidas técnicas y
                organizativas apropiadas, como la seudonimización, concebidas para aplicar de forma efectiva los
                principios
                de protección de datos, como la minimización de datos, e integrar las garantías necesarias en el
                tratamiento.
              </p>
            <li>
              <p> Protección de datos por defecto: el responsable del tratamiento aplicará las medidas técnicas y
                organizativas apropiadas con miras a garantizar que, por defecto, solo sean objeto de tratamiento los
                datos personales que sean necesarios para cada uno de los fines específicos del tratamiento.
              </p>
            </li>
            <li>
              <p>
                Protección de datos en el ciclo de vida de la información: las medidas que garanticen la protección de
                los
                datos personales serán aplicables durante el ciclo completo de la vida de la información.
              </p>
            </li>
            <li>
              <p>
                Licitud, lealtad y transparencia: los datos personales serán tratados de manera lícita, leal y
                transparente en relación con el interesado.
              </p>
            </li>
            <li>
              <p>
                Limitación de la finalidad: los datos personales serán recogidos con fines determinados, explícitos y
                legítimos, y no serán tratados ulteriormente de manera incompatible con dichos fines.
              </p>
            </li>
            <li>
              <p>
                Minimización de datos: los datos personales serán adecuados, pertinentes y limitados a lo necesario en
                relación con los fines para los que son tratados.
              </p>
            </li>
            <li>
              <p>
                Exactitud: los datos personales serán exactos y, si fuera necesario, actualizados; se adoptarán todas
                las
                medidas razonables para que se supriman o rectifiquen sin dilación los datos personales que sean
                inexactos
                con respecto a los fines para los que se tratan.
              </p>
            </li>
            <li>
              <p>
                Limitación del plazo de conservación: los datos personales serán mantenidos de forma que se permita la
                identificación de los interesados durante no más tiempo del necesario para los fines del tratamiento de
                los datos personales.
              </p>
            </li>
            <li>
              <p>
                Integridad y confidencialidad: los datos personales serán tratados de tal manera que se garantice una
                seguridad adecuada de los datos personales, incluida la protección contra el tratamiento no autorizado o
                ilícito y contra su pérdida, destrucción o daño accidental, mediante la aplicación de medidas técnicas u
                organizativas apropiadas.
              </p>
            </li>
            <li>
              <p>
                Información y formación: una de las claves para garantizar la protección de los datos personales es la
                formación e información que se facilite al personal involucrado en el tratamiento de los mismos. Durante
                el ciclo de vida de la información, todo el personal con acceso a los datos será convenientemente
                formado
                e informado acerca de sus obligaciones en relación con el cumplimiento de la normativa de protección de
                datos.
              </p>
            </li>
          </ul>
          <p>La Política de Protección de Datos de Arcadia Viajes Inolvidables, S.R.L, es comunicada a todo el personal
            del responsable del tratamiento y puesta a disposición de todas las partes interesadas.</p>
          <p>En su consecuencia, la presente Política de Protección de Datos involucra a todo el personal del
            responsable
            del tratamiento, que debe conocerla y asumirla, considerándola como propia, siendo cada miembro responsable
            de
            aplicarla y de verificar las normas de protección de datos aplicables a su actividad, así como identificar y
            aportar las oportunidades de mejora que considere oportunas con el objetivo de alcanzar la excelencia en
            relación con su cumplimiento.</p>
          <p>
            Esta Política será revisada por la Dirección / Órgano de Gobierno de España, tantas veces como se considere
            necesario, para adecuarse, en todo momento, a las disposiciones vigentes en materia de protección de datos
            de
            carácter personal.</p>
        </div>

        <div class="mt-4">
          <h6 class="fw-normal">
            Tus Datos Seguros
          </h6>
          <p class="mb-0">
            Información en cumplimiento de la normativa de protección de datos personales. En Europa y en España existen
            normas de protección de datos pensadas para proteger su información personal de obligado cumplimiento para
            nuestra entidad. Por ello, es muy importante para nosotros que entienda perfectamente qué vamos a hacer con
            los datos personales que le pedimos. Así, seremos transparentes y le daremos el control de sus datos, con un
            lenguaje sencillo y opciones claras que le permitirán decidir qué haremos con su información personal. Por
            favor, si una vez leída la presente información le queda alguna duda, no dude en preguntarnos.
          </p>
          <p>Muchas gracias por su colaboración.</p>
        </div>

        <div class="mt-4">
          <h6 class="fw-normal">¿Quiénes somos?</h6>

          <ul>
            <li>
              Denominación: Arcadia Viajes Inolvidables, S.R.L
            </li>
            <li>
              CIF / NIF: B19835512
            </li>
            <li>Actividad principal: Agencia de viajes</li>
            <li>Dirección: Calle Alcalá 22 Piso 2</li>
            <li>Teléfono: +34 655204586</li>
            <li>Correo electrónico: ventas.espana arcadia-viajes.com</li>
            <li>Página Web: https://www.arcadia-viajes.com</li>
          </ul>
          <p class="mb-0">
            Para su confianza y seguridad, le informamos que somos una entidad inscrita en el siguiente Registro
            Mercantil
            /Registro Público: Registro Mercantil de Madrid, <b>ARCADIA VIAJES INOLVIDABLES, S.R.L</b>, Con codigo de
            Identificacion Fiscal B19835512 y Domicilio en <b>C/ ALCALÁ, 22 - 2º Puerta DR, 22014</b> Madrid Segun
            acredita con
            escritura de apoderamiento con fecha de <b>01/07/2024</b> ante el notario de <b>MADRID, Don CARMEN BOULET
              ALONSO,</b> con numero de protocolo <b>1230</b>. En adelante, el <b>CLIENTE</b>.
          </p>
        </div>
        <div class="mt-4">
          <h6 class="fw-normal">¿Para qué vamos a usar sus datos?</h6>
          <p>

            Con carácter general, sus datos personales serán usados para poder relacionarnos con usted y poder prestarle
            nuestros servicios. Asimismo, también pueden ser usados para otras actividades, como enviarle publicidad o
            promocionar nuestras actividades.
          </p>
        </div>
        <div class="mt-4">
          <h6 class="fw-normal">¿Por qué necesitamos usar sus datos?</h6>
          <p>
            Sus datos personales son necesarios para poder relacionarnos con usted y poder prestarle nuestros servicios.
            En este sentido, pondremos a su disposición una serie de casillas que le permitirán decidir de manera clara
            y
            sencilla sobre el uso de su información personal.
          </p>
        </div>
        <div class="mt-4">
          <h6 class="fw-normal">¿Quién va a conocer la información que le pedimos?</h6>
          <p>
            Con carácter general, sólo el personal de nuestra entidad que esté debidamente autorizado podrá tener
            conocimiento de la información que le pedimos.
          </p>
          <p>
            De igual modo, podrán tener conocimiento de su información personal aquellas entidades que necesiten tener
            acceso a la misma para que podamos prestarle nuestros servicios. Así, por ejemplo, nuestro banco conocerá
            sus
            datos si el pago de nuestros servicios se realiza mediante tarjeta o transferencia bancaria. Asimismo,
            tendrán
            conocimiento de su información aquellas entidades públicas o privadas a las cuales estemos obligados a
            facilitar sus datos personales con motivo del cumplimiento de alguna ley. Poniéndole un ejemplo, la Ley
            Tributaria obliga a facilitar a la Agencia Tributaria determinada información sobre operaciones económicas
            que
            superen una determinada cantidad. En el caso de que, al margen de los supuestos comentados, necesitemos dar
            a
            conocer su información personal a otras entidades, le solicitaremos previamente su permiso a través de
            opciones claras que le permitirán decidir a este respecto.
          </p>
        </div>
        <div class="mt-4">
          <h6 class="fw-normal">¿Cómo cedemos los datos a Aplázame?</h6>
          <p>
            El usuario acepta que todos sus datos de carácter personal sean íntegramente cedidos a Aplázame desde el
            momento en que el usuario haya iniciado la contratación del servicio de pago aplazado ofrecido por ésta
            última
            en el momento de elegir la forma de pago. Esta aceptación se extiende a terceras entidades que tuvieran que
            acceder a los ficheros para el buen fin del contrato.
          </p>
        </div>
        <div class="mt-4">
          <h6 class="fw-normal">¿Cómo vamos a proteger sus datos?</h6>
          <p>
            Protegeremos sus datos con medidas de seguridad eficaces en función de los riesgos que conlleve el uso de su
            información.
          </p>
          <p>
            Para ello, nuestra entidad ha aprobado una Política de Protección de Datos y se realizan controles y
            auditorías anuales para verificar que sus datos personales están seguros en todo momento.
          </p>
        </div>
        <div class="mt-4">
          <h6 class="fw-normal">¿Enviaremos sus datos a otros países?</h6>
          <p>
            En el mundo hay países que son seguros para sus datos y otros que no lo son tanto. Así, por ejemplo, la
            Unión
            Europea es un entorno seguro para sus datos. Nuestra política es no enviar su información personal a ningún
            país que no sea seguro desde el punto de vista de la protección de sus datos. En el caso de que, con motivo
            de
            prestarle el servicio, sea imprescindible enviar sus datos a un país que no sea tan seguro como España,
            siempre le solicitaremos previamente su permiso y aplicaremos medidas de seguridad eficaces que reduzcan los
            riesgos del envío de su información personal a otro país.
          </p>
        </div>
        <div class="mt-4">
          <h6 class="fw-normal">¿Durante cuánto tiempo vamos a conservar sus datos?</h6>
          <p>
            Conservaremos sus datos durante nuestra relación y mientras nos obliguen las leyes. Una vez finalizados los
            plazos legales aplicables, procederemos a eliminarlos de forma segura y respetuosa con el medio ambiente.
          </p>
        </div>
        <div class="mt-4">
          <h6 class="fw-normal">¿Cuáles son sus derechos de protección de datos?</h6>
          <p>
            En cualquier momento puede dirigirse a nosotros para saber qué información tenemos sobre usted, rectificarla
            si fuese incorrecta y eliminarla una vez finalizada nuestra relación, en el caso de que ello sea legalmente
            posible. También tiene derecho a solicitar el traspaso de su información a otra entidad. Este derecho se
            llama
            “portabilidad” y puede ser útil en determinadas situaciones. Para solicitar alguno de estos derechos, deberá
            realizar una solicitud escrita a nuestra dirección, junto con una fotocopia de su DNI, NIE o PASAPORTE para
            poder identificarle. En las oficinas de nuestra entidad disponemos de formularios específicos para solicitar
            dichos derechos y le ofrecemos nuestra ayuda para su cumplimentación. Para saber más sobre sus derechos de
            protección de datos, puede consultar la página web de la Agencia Española de Protección de Datos <a
              href="www.agpd.es">(www.agpd.es)</a>.
          </p>
        </div>
        <div class="mt-4">
          <h6 class="fw-normal">¿Puede retirar su consentimiento si cambia de opinión en un momento posterior?</h6>
          <p>
            Usted puede retirar su consentimiento si cambia de opinión sobre el uso de sus datos en cualquier momento.
            Así, por ejemplo, si usted en su día estuvo interesado/a en recibir publicidad de nuestros productos o
            servicios, pero ya no desea recibir más publicidad, puede hacérnoslo constar a través del formulario de
            oposición al tratamiento disponible en las oficinas de nuestra entidad. En caso de que entienda que sus
            derechos han sido desatendidos, ¿dónde puede formular una reclamación? En caso de que entienda que sus
            derechos han sido desatendidos por nuestra entidad, puede formular una reclamación en la Agencia Española de
            Protección de Datos, a través de alguno de los medios siguientes: Sede electrónica: <a
              href="www.agpd.es">(www.agpd.es)</a>.
          </p>
          <ul>
            <li>
              Dirección postal: <b>Agencia Española de Protección de Datos, C/ Jorge Juan, 6, 28001-Madrid</b>
            </li>
            <li>
              Vía telefónica: <b>Telf. +34 901 100 099 / Telf. +34 91 266 35 17</b>
            </li>
          </ul>
          <p>Formular una reclamación en la Agencia Española de Protección de Datos no conlleva ningún coste y no es
            necesaria la asistencia de abogado ni procurador.</p>
        </div>
        <div class="mt-4">
          <h6 class="fw-normal">¿Elaboraremos perfiles sobre usted?</h6>
          <p>
            Nuestra política es no elaborar perfiles sobre los usuarios de nuestros servicios. No obstante, pueden
            existir
            situaciones en las que, con fines de prestación del servicio, comerciales o de otro tipo, necesitemos
            elaborar
            perfiles de información sobre usted. Un ejemplo pudiera ser la utilización de su historial de compras o
            servicios para poder ofrecerle productos o servicios adaptados a sus gustos o necesidades. En tal caso,
            aplicaremos medidas de seguridad eficaces que protejan su información en todo momento de personas no
            autorizadas que pretendan utilizarla en su propio beneficio.
          </p>
        </div>
        <div class="mt-4">
          <h6 class="fw-normal">¿Usaremos sus datos para otros fines?</h6>
          <p>
            Nuestra política es no usar sus datos para otras finalidades distintas a las que le hemos explicado. Si, no
            obstante, necesitásemos usar sus datos para actividades distintas, siempre le solicitaremos previamente su
            permiso a través de opciones claras que le permitirán decidir al respecto.
          </p>
        </div>
        <div class="mt-4">
          <h6 class="fw-normal">Política de privacidad de Redes Sociales</h6>
          <p>
            De conformidad con lo establecido en la normativa vigente en Protección de Datos de Carácter Personal (RGPD)
            y
            la Ley 34/2002, de 11 de julio, de Servicios de la Sociedad de la Información y de Comercio Electrónico
            (LSSI-CE), Web On Line S.L informa a los usuarios, que ha procedido a crear un perfil en la/s Red/es
            Social/es
            Facebook, Twitter, Google +, con la finalidad principal de publicitar sus productos y servicios. El usuario
            dispone de un perfil en la misma Red Social y ha decidido unirse a la página creada por Arcadia Viajes
            Inolvidables, S.R.L , mostrando así interés en la información que se publicite en la Red. Al unirse a
            nuestra
            página, nos facilita su consentimiento para el tratamiento de aquellos datos personales publicados en su
            perfil.
          </p>
          <p>
            El usuario puede acceder en todo momento a las políticas de privacidad de la propia Red Social, así como
            configurar su perfil para garantizar su privacidad Arcadia Viajes Inolvidables, S.R.L, tiene acceso y trata
            aquella información pública del usuario, en especial, su nombre de contacto. Estos datos, sólo son
            utilizados
            dentro de la propia Red Social. No son incorporados a ningún fichero.
          </p>
          <p>
            En relación a los derechos de acceso, rectificación, cancelación y oposición, de los que usted dispone y que
            pueden ser ejercitados ante Arcadia Viajes Inolvidables, S.R.L, de acuerdo con el RGPD, debe tener en cuenta
            los siguientes matices:
          </p>
          <p>
            <b>Acceso:</b> Vendrá definido por la funcionalidad de la Red Social y la capacidad de acceso a la
            información
            de los
            perfiles de los usuarios. Rectificación: Sólo podrá satisfacerse en relación a aquella información que se
            encuentre bajo el control de Arcadia Viajes Inolvidables, S.R.L, por ejemplo, eliminar comentarios
            publicados
            en la propia página. Normalmente, este derecho deberá ejercerlo ante la Red Social. Cancelación y/u
            Oposición:
            Como en el caso anterior, sólo podrá satisfacerse en relación a aquella información que se encuentre bajo el
            control de Arcadia Viajes Inolvidables, S.R.L, por ejemplo, dejar de estar unido al perfil. Arcadia Viajes
            Inolvidables, S.R.L, realizará las siguientes actuaciones:
          </p>
          <p>
            Acceso a la información pública del perfil. Publicación en el perfil del usuario de toda aquella información
            ya publicada en la página de Arcadia Viajes Inolvidables, S.R.L Enviar mensajes personales e individuales a
            través de los canales de la Red Social. Actualizaciones del estado de la página que se publicarán en el
            perfil
            del usuario.
          </p>
          <p>
            El usuario siempre puede controlar sus conexiones, eliminar los contenidos que dejen de interesarle y
            restringir con quién comparte sus conexiones, para ello deberá acceder a su configuración de privacidad.
          </p>
        </div>
        <div class="mt-4">
          <h6 class="fw-normal">PUBLICACIONES</h6>
          <p>El usuario, una vez unido a la página de Arcadia Viajes Inolvidables, S.R.L, podrá publicar en ésta última
            comentarios, enlaces, imágenes o fotografías o cualquier otro tipo de contenido multimedia soportado por la
            Red Social. El usuario, en todos los casos, debe ser el titular de los mismos, gozar de los derechos de
            autor
            y de propiedad intelectual o contar con el consentimiento de los terceros afectados. Se prohíbe expresamente
            cualquier publicación en la página, ya sean textos, gráficos, fotografías, vídeos, etc. que atenten o sean
            susceptibles de atentar contra la moral, la ética, el buen gusto o el decoro, y/o que infrinjan, violen o
            quebranten los derechos de propiedad intelectual o industrial, el derecho a la imagen o la Ley. En estos
            casos, Arcadia Viajes Inolvidables, S.R.L se reserva el derecho a retirar de inmediato el contenido,
            pudiendo
            solicitar el bloqueo permanente del usuario.</p>
          <p>Arcadia Viajes Inolvidables, S.R.L, no se hará responsable de los contenidos que libremente ha publicado un
            usuario.</p>
          <p>El usuario debe tener presente que sus publicaciones serán conocidas por los otros usuarios, por lo que él
            mismo es el principal responsable de su privacidad.</p>
          <p>Las imágenes que puedan publicarse en la página no serán almacenadas en ningún fichero por parte de Arcadia
            Viajes Inolvidables, S.R.L, pero sí que permanecerán en la Red Social.</p>
        </div>
        <div class="mt-4">
          <h6 class="fw-normal">Condiciones Generales</h6>
          <p>El Usuario que accede a la página para informarse y contratar los servicios ofertados, declara que es mayor
            de edad (mayor de 18 años) y tiene la capacidad legal necesaria para adquirir los servicios ofrecidos a
            través
            de la WEB y para utilizarlo según las condiciones generales que a continuación se detallan, las cuales
            declara
            comprender y aceptar en su totalidad. Arcadia Viajes Inolvidables, S.R.L y el Usuario se comprometen a
            operar
            en total conformidad con la Política de Publicidad no Consentida regulada en la Ley de Servicios de la
            Sociedad de la Información y Comercio Electrónico (LSSICE)</p>
        </div>
        <div class="mt-4">
          <h6 class="fw-normal">Uso de la WEB</h6>
          <p>Arcadia Viajes Inolvidables, S.R.L no puede constatar la edad de los usuarios, por lo que no se
            responsabiliza de la exactitud y veracidad de los datos rellenados por el usuario. Por tanto, el usuario es
            el
            único responsable de facilitar correctamente sus datos en los procesos de contratación establecidos en la
            página https://www.arcadia-viajes.com , debiendo prestar especial atención en cuanto a la introducción los
            datos personales de las terceras personas respecto a las cuales, deberá ir verificando que éstos coinciden
            con
            los que aparecen en su DNI, NIE o pasaporte, así como en los datos relativos a la dirección de entrega de
            documentación y pedidos.</p>
          <p>El Usuario acepta que únicamente utilizará https://www.arcadia-viajes.com para sí y que los servicios o
            productos adquiridos a través del sitio Web serán para uso o consumo propio o de las personas en nombre de
            las
            cuales esté legalmente autorizado para actuar.</p>
          <p>El Usuario se compromete a no utilizar para fines ilegales o prohibidos este sitio Web. El Usuario no
            revenderá servicios o productos adquiridos en Arcadia Viajes Inolvidables, S.R.L a otras personas.</p>
          <p>Se prohíbe su reproducción, modificación, copia, distribución, reventa duplicación, venta, y demás formas
            de
            explotación, ya sea con fines comerciales o sin ellos. Arcadia Viajes Inolvidables, S.R.L es único y
            exclusivamente para uso personal del Usuario.</p>
          <p>Todos los contenidos, dibujos, logos, marcas, etc. que figuran en Arcadia Viajes Inolvidables, S.R.L, se
            hallan protegidos por los derechos de las personas o empresas que figuran como autores o titulares de los
            derechos y por la propiedad intelectual e industrial que son expresamente reservados por Arcadia Viajes
            Inolvidables, S.R.L La violación de los derechos anteriores será perseguida de conformidad con la
            legislación
            vigente.</p>
          <p>Al registrarse en Arcadia Viajes Inolvidables, S.R.L, el usuario acepta que los datos personales
            facilitados
            sean objetivo de tratamiento electrónico que es propiedad de Arcadia Viajes Inolvidables, S.R.L (en adelante
            Arcadia Viajes Inolvidables, S.R.L).</p>
          <p>
            El Usuario es responsable de custodiar adecuadamente y tratar de forma confidencial las contraseñas que le
            sean proporcionadas por Arcadia Viajes Inolvidables, S.R.L para acceder al sitio Web, evitando el acceso a
            Arcadia Viajes Inolvidables, S.R.L de terceras personas no autorizadas.</p>
          <p>El Usuario declara que los datos suministrados por él para acceder a Arcadia Viajes Inolvidables, S.R.L y
            utilización del mismo, es precisa, verdadera, y completa. Además, el usuario se compromete a mantener la
            información actualizada.</p>
          <p>El Usuario se compromete y acepta hacerse responsable de los gastos económicos derivados de cualquier
            utilización de Arcadia Viajes Inolvidables, S.R.L que se produzca mediante la utilización de la contraseña
            del
            Usuario de este sitio web, así como el uso por terceros de las contraseñas del Usuario.</p>
          <p>El viajero es responsable del cumplimiento de los requisitos gubernamentales de documentación de entrada
            y/o
            salida, entre otros. Esta información se puede encontrar en www.mae.es (la página web del Ministerio de
            Asuntos Exteriores Español. <a href="https://www.mae.es">https://www.mae.es</a> podrá incorporar condiciones
            adicionales específicas, las
            cuales se encontrarán en el sitio web.</p>
          <p>Queda prohibido establecer enlaces con el sitio web sin el consentimiento de Arcadia Viajes Inolvidables,
            S.R.L</p>
          <p>Los precios finales indicados incluyen el I.V.A. y/u otros impuestos necesarios, para la correcta
            aplicación
            de la ley vigente en el momento que se contrata el producto/servicio. Los precios no incluyen tasas de
            aeropuerto, ni gastos de visados, ni tasas de entrada/salida del destino.</p>
          <p>Todos los precios de las ofertas del sitio web, son precio “desde”, pudiendo variar en el momento que el
            usuario efectúe la reserva.</p>
          <p>El hecho de realizar una reserva implica el compromiso por parte del cliente en la autorización del cargo
            en
            la cuenta bancaria y/o la tarjeta de crédito que suministra por el importe total del viaje, servicio o
            producto contratado.</p>
          <p>
            La compra de cualquier producto o servicio, sólo será efectiva en el momento que se reciba mediante
            transferencia el importe de dicha compra, o que Arcadia Viajes Inolvidables, S.R.L realice de manera válida
            el
            cargo en la tarjeta de crédito suministrada, pudiendo ser cancelada por parte de Arcadia Viajes
            Inolvidables,
            S.R.L, hasta dicho momento.</p>
          <p>Arcadia Viajes Inolvidables, S.R.L explota la web y, en particular, ofrece y, en su caso, suministra los
            contenidos, productos y servicios al Usuario visitante de la WEB en nombre y por cuenta de operadores
            turísticos de reconocido prestigio. En este sentido, Arcadia Viajes Inolvidables, S.R.L se ha limitado a
            incluir el servicio en la web. Salvo que explícitamente se establezca así, en ningún caso podrá entenderse
            que
            Arcadia Viajes Inolvidables, S.R.L ofrece directamente vuelos, servicios de alquiler de coches, viajes
            combinados, reservas en hoteles y otros servicios turísticos incluidos en Arcadia Viajes Inolvidables, S.R.L
          </p>
          <p>
            La información que contiene Arcadia Viajes Inolvidables, S.R.L es ofrecida para conveniencia del Usuario
            según
            se nos han remitido de los operadores turísticos, por lo que podría contener cualquier tipo de error.</p>
          <p>Arcadia Viajes Inolvidables, S.R.L no se responsabiliza de la falta de veracidad, precisión y actualización
            de datos y/o informaciones sobre los productos, servicios, precios, ofertas, distancias, características,
            rutas y otras informaciones o datos sobre los servicios y productos ofrecidos en la Web por los
            organizadores
            de viajes combinados y/o proveedores.</p>
          <p>Los enlaces de otras páginas web que aparezcan en Arcadia Viajes Inolvidables, S.R.L se ofrecen a modo
            informativo para el Usuario, por lo que Arcadia Viajes Inolvidables, S.R.L no se responsabiliza sobre los
            contenidos, servicios, o productos, ofertados o suministrados en las páginas web ubicadas en otros dominios.
          </p>
          <p>Los datos que se almacenan en el ordenador del usuario en formato texto se denominan cookies. El uso de
            cookies únicamente se asocia con un Usuario anónimo y su ordenador, y no proporcionan referencias que
            permitan
            deducir el nombre y apellidos del Usuario. Las cookies hacen posible reconocer a los usuarios registrados
            sin
            que deban registrarse cada vez que quieran acceder a los servicios y a las áreas reservadas a ellos en
            exclusiva. El Usuario si quiere, puede impedir que se generen cookies, seleccionando la opción
            correspondiente
            en su navegador.
          </p>
          <p>
            La relación entre Arcadia Viajes Inolvidables, S.R.L y el Usuario, así como el incumplimiento de todas o
            alguna de las presentes condiciones, se regirán por la legislación española, y dará lugar a la resolución de
            la relación contractual sometida a la competencia y jurisdicción exclusiva de los Tribunales y Juzgados de
            Madrid, provincia donde se encuentra Arcadia Viajes Inolvidables, S.R.L</p>
          <p><b>Derecho de Desistimiento 14 días</b></p>
          <p>Es el derecho que tiene el usuario de dejar sin efecto un contrato en determinados casos, sin necesidad de
            justificar su decisión ni asumir penalización alguna.
          </p>
          <p>En virtud del artículo 103 apartado l) del Real Decreto Legislativo 1/2007, de 16 de noviembre, por el que
            se
            aprueba el texto refundido de la Ley General para la Defensa de los Consumidores y Usuarios y otras leyes
            complementarias, no será aplicable el derecho de desistimiento a los contratos que se refieran a suministro
            de
            servicios de alojamiento para fines distintos del de servir de vivienda, transporte de bienes, alquiler de
            vehículos, comida o servicios relacionados con actividades de esparcimiento, si los contratos prevén una
            fecha
            o un periodo de ejecución específicos.</p>
          <p>En cuanto al transporte de personas, según el artículo 93 k) del Real Decreto Legislativo 1/2007 por el que
            se aprueba el Texto Refundido de la Ley General para la Defensa de los Consumidores y Usuarios la regulación
            de las ventas a distancia (a excepción del artículo 98.2) no resulta de aplicación a los contratos de
            servicio
            de transporte de pasajeros. Por lo que en las reservas de servicios de transporte de personas no resulta de
            aplicación el derecho de desistimiento. De este modo, en el caso de que el Usuario manifieste su voluntad de
            cancelar los billetes contratados le serán de aplicación las condiciones de cancelación de la compañía de
            que
            se trate.</p>
          <p>Por lo que respecta a los viajes combinados, el artículo 160 del mismo texto legal dispone que el Usuario
            podrá en todo momento dejar sin efecto los servicios solicitados o contratados, teniendo derecho a la
            devolución de las cantidades que hubiese abonado, pero deberá indemnizar al organizador o a la minorista en
            las siguientes cuantías, salvo que tal resolución tenga lugar por causa de fuerza mayor:</p>
          <ul>
            <li>
              Abonará los gastos de gestión, los de anulación, si los hubiere, y una penalización consistente en el 5 %
              por ciento del importe total del viaje, si la cancelación se produce con más de diez y menos de quince
              días
              de antelación a la fecha del comienzo del viaje; el 15 por ciento entre los días tres y diez, y el 25 por
              ciento dentro de las cuarenta y ocho horas anteriores a la salida.
            </li>
          </ul>
          <p>De no presentarse a la salida, el consumidor y usuario está obligado al pago del importe total del viaje,
            abonando, en su caso, las cantidades pendientes salvo acuerdo entre las partes en otro sentido.</p>
          <ul>
            <li>
              En el caso de que el viaje combinado estuviera sujeto a condiciones económicas especiales de contratación,
              tales como flete de aviones, buques o tarifas especiales, los gastos de cancelación se establecerán de
              acuerdo con las condiciones acordadas entre las partes.
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>